/*
Addigy API Documentation

The [Addigy API](https://app.addigy.com/integrations) is designed to provide Addigy users with programmatic access to all data in their Addigy environment. Via the Addigy API users have read and write access to nearly all the data in their environment allowing them to automate activities in Addigy and integrate into 3rd party systems.<br> API keys can be created within your Addigy organization by visiting [Account -> Integrations](https://app.addigy.com/integrations).<br> **What does it mean if an API v2 endpoint is marked as \"Beta\"?** In rare cases, the required request and response data for an endpoint may change. Should a change be needed, Addigy will communicate the changes providing time for users to transition and test.<br> **Child Organizations** <br>Endpoints that have /oa/ in their path enable you to request data for an organization and its descendant organizations. To use this capability, there are two query parameters: <ul><li><b>multitenancy</b> (optional, boolean): When set to true, the request will include data for all descendant organizations (child, grandchild, etc.), allowing you to query across multiple organizations. If set to false or omitted, the request will return data only for your own organization.</li> <br><li><b>child-organizations</b> (optional, string): A comma-separated list of organization IDs to filter results for specific descendant organizations. If omitted, all child organizations will be included in the query by default if the multitenancy query param is set to true.</li></ul> <p>If you have questions or suggestions for the Addigy API Contact <a href=\"mailto:support@addigy.com\">Addigy Support</a></p>

API version: 2.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package addigyapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// SentineloneAPIService SentineloneAPI service
type SentineloneAPIService service

type SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountGetRequest struct {
	ctx            context.Context
	ApiService     *SentineloneAPIService
	organizationId string
}

func (r SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountGetRequest) Execute() (*SentineloneAccount, *http.Response, error) {
	return r.ApiService.OOrganizationIdIntegrationsSentineloneAccountGetExecute(r)
}

/*
OOrganizationIdIntegrationsSentineloneAccountGet Get SentinelOne account

Get the organization's SentinelOne account details.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param organizationId The organization id
	@return SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountGetRequest
*/
func (a *SentineloneAPIService) OOrganizationIdIntegrationsSentineloneAccountGet(ctx context.Context, organizationId string) SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountGetRequest {
	return SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountGetRequest{
		ApiService:     a,
		ctx:            ctx,
		organizationId: organizationId,
	}
}

// Execute executes the request
//
//	@return SentineloneAccount
func (a *SentineloneAPIService) OOrganizationIdIntegrationsSentineloneAccountGetExecute(r SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountGetRequest) (*SentineloneAccount, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SentineloneAccount
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SentineloneAPIService.OOrganizationIdIntegrationsSentineloneAccountGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/o/{organization_id}/integrations/sentinelone/account"
	localVarPath = strings.Replace(localVarPath, "{"+"organization_id"+"}", url.PathEscape(parameterValueToString(r.organizationId, "organizationId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsActivitiesGetRequest struct {
	ctx            context.Context
	ApiService     *SentineloneAPIService
	organizationId string
	threatIds      *[]string
	siteIds        *[]string
	alertIds       *[]string
	createdAtGt    *string
	limit          *int32
	skip           *int32
	sortBy         *string
	sortOrder      *string
}

// Filter by threat IDs
func (r SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsActivitiesGetRequest) ThreatIds(threatIds []string) SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsActivitiesGetRequest {
	r.threatIds = &threatIds
	return r
}

// Filter by site IDs
func (r SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsActivitiesGetRequest) SiteIds(siteIds []string) SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsActivitiesGetRequest {
	r.siteIds = &siteIds
	return r
}

// Filter by alert IDs
func (r SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsActivitiesGetRequest) AlertIds(alertIds []string) SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsActivitiesGetRequest {
	r.alertIds = &alertIds
	return r
}

// Filter activities created at or after this time (RFC3339 format)
func (r SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsActivitiesGetRequest) CreatedAtGt(createdAtGt string) SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsActivitiesGetRequest {
	r.createdAtGt = &createdAtGt
	return r
}

// Limit results
func (r SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsActivitiesGetRequest) Limit(limit int32) SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsActivitiesGetRequest {
	r.limit = &limit
	return r
}

// Skip results
func (r SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsActivitiesGetRequest) Skip(skip int32) SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsActivitiesGetRequest {
	r.skip = &skip
	return r
}

// Sort field
func (r SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsActivitiesGetRequest) SortBy(sortBy string) SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsActivitiesGetRequest {
	r.sortBy = &sortBy
	return r
}

// Sort order (asc/desc)
func (r SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsActivitiesGetRequest) SortOrder(sortOrder string) SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsActivitiesGetRequest {
	r.sortOrder = &sortOrder
	return r
}

func (r SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsActivitiesGetRequest) Execute() (*SentineloneGetActivitiesResponse, *http.Response, error) {
	return r.ApiService.OOrganizationIdIntegrationsSentineloneAccountsActivitiesGetExecute(r)
}

/*
OOrganizationIdIntegrationsSentineloneAccountsActivitiesGet Get SentinelOne activities

Get the SentinelOne activity log for the organization's account, optionally filtered by threat, site, or alert.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param organizationId The organization id
	@return SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsActivitiesGetRequest
*/
func (a *SentineloneAPIService) OOrganizationIdIntegrationsSentineloneAccountsActivitiesGet(ctx context.Context, organizationId string) SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsActivitiesGetRequest {
	return SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsActivitiesGetRequest{
		ApiService:     a,
		ctx:            ctx,
		organizationId: organizationId,
	}
}

// Execute executes the request
//
//	@return SentineloneGetActivitiesResponse
func (a *SentineloneAPIService) OOrganizationIdIntegrationsSentineloneAccountsActivitiesGetExecute(r SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsActivitiesGetRequest) (*SentineloneGetActivitiesResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SentineloneGetActivitiesResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SentineloneAPIService.OOrganizationIdIntegrationsSentineloneAccountsActivitiesGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/o/{organization_id}/integrations/sentinelone/accounts/activities"
	localVarPath = strings.Replace(localVarPath, "{"+"organization_id"+"}", url.PathEscape(parameterValueToString(r.organizationId, "organizationId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.threatIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "threat_ids", r.threatIds, "form", "csv")
	}
	if r.siteIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "site_ids", r.siteIds, "form", "csv")
	}
	if r.alertIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "alert_ids", r.alertIds, "form", "csv")
	}
	if r.createdAtGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at_gt", r.createdAtGt, "", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "", "")
	} else {
		var defaultValue int32 = 50
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "", "")
		r.limit = &defaultValue
	}
	if r.skip != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "skip", r.skip, "", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "skip", defaultValue, "", "")
		r.skip = &defaultValue
	}
	if r.sortBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_by", r.sortBy, "", "")
	}
	if r.sortOrder != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_order", r.sortOrder, "", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsAlertsGetRequest struct {
	ctx            context.Context
	ApiService     *SentineloneAPIService
	organizationId string
	siteIds        *[]string
	severity       *[]string
	createdAtGt    *string
	limit          *int32
	skip           *int32
	sortBy         *string
	sortOrder      *string
}

// Filter by site IDs
func (r SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsAlertsGetRequest) SiteIds(siteIds []string) SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsAlertsGetRequest {
	r.siteIds = &siteIds
	return r
}

// Filter by severity levels
func (r SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsAlertsGetRequest) Severity(severity []string) SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsAlertsGetRequest {
	r.severity = &severity
	return r
}

// Filter alerts created after this time (RFC3339 format)
func (r SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsAlertsGetRequest) CreatedAtGt(createdAtGt string) SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsAlertsGetRequest {
	r.createdAtGt = &createdAtGt
	return r
}

// Limit results
func (r SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsAlertsGetRequest) Limit(limit int32) SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsAlertsGetRequest {
	r.limit = &limit
	return r
}

// Skip results
func (r SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsAlertsGetRequest) Skip(skip int32) SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsAlertsGetRequest {
	r.skip = &skip
	return r
}

// Sort field
func (r SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsAlertsGetRequest) SortBy(sortBy string) SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsAlertsGetRequest {
	r.sortBy = &sortBy
	return r
}

// Sort order (asc/desc)
func (r SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsAlertsGetRequest) SortOrder(sortOrder string) SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsAlertsGetRequest {
	r.sortOrder = &sortOrder
	return r
}

func (r SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsAlertsGetRequest) Execute() (*SentineloneGetAlertsResponse, *http.Response, error) {
	return r.ApiService.OOrganizationIdIntegrationsSentineloneAccountsAlertsGetExecute(r)
}

/*
OOrganizationIdIntegrationsSentineloneAccountsAlertsGet Get SentinelOne alerts

List the alerts SentinelOne has raised for the organization's account.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param organizationId The organization id
	@return SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsAlertsGetRequest
*/
func (a *SentineloneAPIService) OOrganizationIdIntegrationsSentineloneAccountsAlertsGet(ctx context.Context, organizationId string) SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsAlertsGetRequest {
	return SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsAlertsGetRequest{
		ApiService:     a,
		ctx:            ctx,
		organizationId: organizationId,
	}
}

// Execute executes the request
//
//	@return SentineloneGetAlertsResponse
func (a *SentineloneAPIService) OOrganizationIdIntegrationsSentineloneAccountsAlertsGetExecute(r SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsAlertsGetRequest) (*SentineloneGetAlertsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SentineloneGetAlertsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SentineloneAPIService.OOrganizationIdIntegrationsSentineloneAccountsAlertsGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/o/{organization_id}/integrations/sentinelone/accounts/alerts"
	localVarPath = strings.Replace(localVarPath, "{"+"organization_id"+"}", url.PathEscape(parameterValueToString(r.organizationId, "organizationId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.siteIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "site_ids", r.siteIds, "form", "csv")
	}
	if r.severity != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "severity", r.severity, "form", "csv")
	}
	if r.createdAtGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at_gt", r.createdAtGt, "", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "", "")
	} else {
		var defaultValue int32 = 50
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "", "")
		r.limit = &defaultValue
	}
	if r.skip != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "skip", r.skip, "", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "skip", defaultValue, "", "")
		r.skip = &defaultValue
	}
	if r.sortBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_by", r.sortBy, "", "")
	}
	if r.sortOrder != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_order", r.sortOrder, "", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsSitesGetRequest struct {
	ctx            context.Context
	ApiService     *SentineloneAPIService
	organizationId string
	name           *string
	skip           *int32
	limit          *int32
}

// Optional name filter
func (r SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsSitesGetRequest) Name(name string) SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsSitesGetRequest {
	r.name = &name
	return r
}

// Optional skip parameter for pagination
func (r SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsSitesGetRequest) Skip(skip int32) SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsSitesGetRequest {
	r.skip = &skip
	return r
}

// Optional limit parameter for pagination
func (r SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsSitesGetRequest) Limit(limit int32) SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsSitesGetRequest {
	r.limit = &limit
	return r
}

func (r SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsSitesGetRequest) Execute() (*SentineloneGetSitesResponse, *http.Response, error) {
	return r.ApiService.OOrganizationIdIntegrationsSentineloneAccountsSitesGetExecute(r)
}

/*
OOrganizationIdIntegrationsSentineloneAccountsSitesGet Get SentinelOne sites

List the SentinelOne sites available to the organization's account.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param organizationId The organization id
	@return SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsSitesGetRequest
*/
func (a *SentineloneAPIService) OOrganizationIdIntegrationsSentineloneAccountsSitesGet(ctx context.Context, organizationId string) SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsSitesGetRequest {
	return SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsSitesGetRequest{
		ApiService:     a,
		ctx:            ctx,
		organizationId: organizationId,
	}
}

// Execute executes the request
//
//	@return SentineloneGetSitesResponse
func (a *SentineloneAPIService) OOrganizationIdIntegrationsSentineloneAccountsSitesGetExecute(r SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsSitesGetRequest) (*SentineloneGetSitesResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SentineloneGetSitesResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SentineloneAPIService.OOrganizationIdIntegrationsSentineloneAccountsSitesGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/o/{organization_id}/integrations/sentinelone/accounts/sites"
	localVarPath = strings.Replace(localVarPath, "{"+"organization_id"+"}", url.PathEscape(parameterValueToString(r.organizationId, "organizationId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "", "")
	}
	if r.skip != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "skip", r.skip, "", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsSitesIdGetRequest struct {
	ctx            context.Context
	ApiService     *SentineloneAPIService
	organizationId string
	id             string
}

func (r SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsSitesIdGetRequest) Execute() (*SentineloneGetSiteData, *http.Response, error) {
	return r.ApiService.OOrganizationIdIntegrationsSentineloneAccountsSitesIdGetExecute(r)
}

/*
OOrganizationIdIntegrationsSentineloneAccountsSitesIdGet Get SentinelOne site with id

Get SentinelOne site with id

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param organizationId The organization id
	@param id The site id
	@return SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsSitesIdGetRequest
*/
func (a *SentineloneAPIService) OOrganizationIdIntegrationsSentineloneAccountsSitesIdGet(ctx context.Context, organizationId string, id string) SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsSitesIdGetRequest {
	return SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsSitesIdGetRequest{
		ApiService:     a,
		ctx:            ctx,
		organizationId: organizationId,
		id:             id,
	}
}

// Execute executes the request
//
//	@return SentineloneGetSiteData
func (a *SentineloneAPIService) OOrganizationIdIntegrationsSentineloneAccountsSitesIdGetExecute(r SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsSitesIdGetRequest) (*SentineloneGetSiteData, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SentineloneGetSiteData
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SentineloneAPIService.OOrganizationIdIntegrationsSentineloneAccountsSitesIdGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/o/{organization_id}/integrations/sentinelone/accounts/sites/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"organization_id"+"}", url.PathEscape(parameterValueToString(r.organizationId, "organizationId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsSitesPostRequest struct {
	ctx            context.Context
	ApiService     *SentineloneAPIService
	organizationId string
	request        *SentineloneCreateSiteData
}

// Request for creating SentinelOne site
func (r SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsSitesPostRequest) Request(request SentineloneCreateSiteData) SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsSitesPostRequest {
	r.request = &request
	return r
}

func (r SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsSitesPostRequest) Execute() (*SentineloneGetSiteData, *http.Response, error) {
	return r.ApiService.OOrganizationIdIntegrationsSentineloneAccountsSitesPostExecute(r)
}

/*
OOrganizationIdIntegrationsSentineloneAccountsSitesPost Create SentinelOne site. Create new SentinelOne site.

Create SentinelOne site. Create new SentinelOne site.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param organizationId The organization id
	@return SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsSitesPostRequest
*/
func (a *SentineloneAPIService) OOrganizationIdIntegrationsSentineloneAccountsSitesPost(ctx context.Context, organizationId string) SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsSitesPostRequest {
	return SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsSitesPostRequest{
		ApiService:     a,
		ctx:            ctx,
		organizationId: organizationId,
	}
}

// Execute executes the request
//
//	@return SentineloneGetSiteData
func (a *SentineloneAPIService) OOrganizationIdIntegrationsSentineloneAccountsSitesPostExecute(r SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsSitesPostRequest) (*SentineloneGetSiteData, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SentineloneGetSiteData
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SentineloneAPIService.OOrganizationIdIntegrationsSentineloneAccountsSitesPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/o/{organization_id}/integrations/sentinelone/accounts/sites"
	localVarPath = strings.Replace(localVarPath, "{"+"organization_id"+"}", url.PathEscape(parameterValueToString(r.organizationId, "organizationId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.request == nil {
		return localVarReturnValue, nil, reportError("request is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.request
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsStatusGetRequest struct {
	ctx            context.Context
	ApiService     *SentineloneAPIService
	organizationId string
}

func (r SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsStatusGetRequest) Execute() (*SentineloneOrganizationCredentials, *http.Response, error) {
	return r.ApiService.OOrganizationIdIntegrationsSentineloneAccountsStatusGetExecute(r)
}

/*
OOrganizationIdIntegrationsSentineloneAccountsStatusGet Get SentinelOne account status

Get the enablement and connection status of the organization's SentinelOne account.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param organizationId The organization id
	@return SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsStatusGetRequest
*/
func (a *SentineloneAPIService) OOrganizationIdIntegrationsSentineloneAccountsStatusGet(ctx context.Context, organizationId string) SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsStatusGetRequest {
	return SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsStatusGetRequest{
		ApiService:     a,
		ctx:            ctx,
		organizationId: organizationId,
	}
}

// Execute executes the request
//
//	@return SentineloneOrganizationCredentials
func (a *SentineloneAPIService) OOrganizationIdIntegrationsSentineloneAccountsStatusGetExecute(r SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsStatusGetRequest) (*SentineloneOrganizationCredentials, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SentineloneOrganizationCredentials
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SentineloneAPIService.OOrganizationIdIntegrationsSentineloneAccountsStatusGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/o/{organization_id}/integrations/sentinelone/accounts/status"
	localVarPath = strings.Replace(localVarPath, "{"+"organization_id"+"}", url.PathEscape(parameterValueToString(r.organizationId, "organizationId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsThreatsBlocklistPostRequest struct {
	ctx            context.Context
	ApiService     *SentineloneAPIService
	organizationId string
	request        *SentineloneBlocklistThreatsRequest
}

// Request for add threat to blocklist
func (r SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsThreatsBlocklistPostRequest) Request(request SentineloneBlocklistThreatsRequest) SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsThreatsBlocklistPostRequest {
	r.request = &request
	return r
}

func (r SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsThreatsBlocklistPostRequest) Execute() (*http.Response, error) {
	return r.ApiService.OOrganizationIdIntegrationsSentineloneAccountsThreatsBlocklistPostExecute(r)
}

/*
OOrganizationIdIntegrationsSentineloneAccountsThreatsBlocklistPost Add threat to SentinelOne blocklist

Add threat to SentinelOne blocklist

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param organizationId The organization id
	@return SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsThreatsBlocklistPostRequest
*/
func (a *SentineloneAPIService) OOrganizationIdIntegrationsSentineloneAccountsThreatsBlocklistPost(ctx context.Context, organizationId string) SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsThreatsBlocklistPostRequest {
	return SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsThreatsBlocklistPostRequest{
		ApiService:     a,
		ctx:            ctx,
		organizationId: organizationId,
	}
}

// Execute executes the request
func (a *SentineloneAPIService) OOrganizationIdIntegrationsSentineloneAccountsThreatsBlocklistPostExecute(r SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsThreatsBlocklistPostRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SentineloneAPIService.OOrganizationIdIntegrationsSentineloneAccountsThreatsBlocklistPost")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/o/{organization_id}/integrations/sentinelone/accounts/threats/blocklist"
	localVarPath = strings.Replace(localVarPath, "{"+"organization_id"+"}", url.PathEscape(parameterValueToString(r.organizationId, "organizationId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.request == nil {
		return nil, reportError("request is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.request
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsThreatsGetRequest struct {
	ctx                    context.Context
	ApiService             *SentineloneAPIService
	organizationId         string
	sentineloneDevicesUuid *[]string
	siteIds                *[]string
	confidenceLevels       *[]string
	confidenceLevelsNin    *[]string
	createdAtGt            *string
	limit                  *int32
	skip                   *int32
	sortBy                 *string
	sortOrder              *string
}

// Filter by SentinelOne Devices UUIDs
func (r SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsThreatsGetRequest) SentineloneDevicesUuid(sentineloneDevicesUuid []string) SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsThreatsGetRequest {
	r.sentineloneDevicesUuid = &sentineloneDevicesUuid
	return r
}

// Filter by site IDs
func (r SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsThreatsGetRequest) SiteIds(siteIds []string) SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsThreatsGetRequest {
	r.siteIds = &siteIds
	return r
}

// Filter by confidence levels
func (r SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsThreatsGetRequest) ConfidenceLevels(confidenceLevels []string) SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsThreatsGetRequest {
	r.confidenceLevels = &confidenceLevels
	return r
}

// Filter by excluded confidence levels
func (r SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsThreatsGetRequest) ConfidenceLevelsNin(confidenceLevelsNin []string) SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsThreatsGetRequest {
	r.confidenceLevelsNin = &confidenceLevelsNin
	return r
}

// Filter alerts created after this time (RFC3339 format)
func (r SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsThreatsGetRequest) CreatedAtGt(createdAtGt string) SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsThreatsGetRequest {
	r.createdAtGt = &createdAtGt
	return r
}

// Limit results
func (r SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsThreatsGetRequest) Limit(limit int32) SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsThreatsGetRequest {
	r.limit = &limit
	return r
}

// Skip results
func (r SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsThreatsGetRequest) Skip(skip int32) SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsThreatsGetRequest {
	r.skip = &skip
	return r
}

// Sort field
func (r SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsThreatsGetRequest) SortBy(sortBy string) SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsThreatsGetRequest {
	r.sortBy = &sortBy
	return r
}

// Sort order (asc/desc)
func (r SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsThreatsGetRequest) SortOrder(sortOrder string) SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsThreatsGetRequest {
	r.sortOrder = &sortOrder
	return r
}

func (r SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsThreatsGetRequest) Execute() (*SentineloneGetThreatsResponse, *http.Response, error) {
	return r.ApiService.OOrganizationIdIntegrationsSentineloneAccountsThreatsGetExecute(r)
}

/*
OOrganizationIdIntegrationsSentineloneAccountsThreatsGet Get SentinelOne threats

List the threats SentinelOne has detected for the organization's account.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param organizationId The organization id
	@return SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsThreatsGetRequest
*/
func (a *SentineloneAPIService) OOrganizationIdIntegrationsSentineloneAccountsThreatsGet(ctx context.Context, organizationId string) SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsThreatsGetRequest {
	return SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsThreatsGetRequest{
		ApiService:     a,
		ctx:            ctx,
		organizationId: organizationId,
	}
}

// Execute executes the request
//
//	@return SentineloneGetThreatsResponse
func (a *SentineloneAPIService) OOrganizationIdIntegrationsSentineloneAccountsThreatsGetExecute(r SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsThreatsGetRequest) (*SentineloneGetThreatsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SentineloneGetThreatsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SentineloneAPIService.OOrganizationIdIntegrationsSentineloneAccountsThreatsGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/o/{organization_id}/integrations/sentinelone/accounts/threats"
	localVarPath = strings.Replace(localVarPath, "{"+"organization_id"+"}", url.PathEscape(parameterValueToString(r.organizationId, "organizationId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.sentineloneDevicesUuid != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sentinelone_devices_uuid", r.sentineloneDevicesUuid, "form", "csv")
	}
	if r.siteIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "site_ids", r.siteIds, "form", "csv")
	}
	if r.confidenceLevels != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "confidence_levels", r.confidenceLevels, "form", "csv")
	}
	if r.confidenceLevelsNin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "confidence_levels_nin", r.confidenceLevelsNin, "form", "csv")
	}
	if r.createdAtGt != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "created_at_gt", r.createdAtGt, "", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "", "")
	} else {
		var defaultValue int32 = 50
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "", "")
		r.limit = &defaultValue
	}
	if r.skip != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "skip", r.skip, "", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "skip", defaultValue, "", "")
		r.skip = &defaultValue
	}
	if r.sortBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_by", r.sortBy, "", "")
	}
	if r.sortOrder != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_order", r.sortOrder, "", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsThreatsIncidentPostRequest struct {
	ctx            context.Context
	ApiService     *SentineloneAPIService
	organizationId string
	request        *SentineloneThreatsIncidentRequest
}

// Request for update threats incident
func (r SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsThreatsIncidentPostRequest) Request(request SentineloneThreatsIncidentRequest) SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsThreatsIncidentPostRequest {
	r.request = &request
	return r
}

func (r SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsThreatsIncidentPostRequest) Execute() (*http.Response, error) {
	return r.ApiService.OOrganizationIdIntegrationsSentineloneAccountsThreatsIncidentPostExecute(r)
}

/*
OOrganizationIdIntegrationsSentineloneAccountsThreatsIncidentPost Update threats incident

Update threats incident

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param organizationId The organization id
	@return SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsThreatsIncidentPostRequest
*/
func (a *SentineloneAPIService) OOrganizationIdIntegrationsSentineloneAccountsThreatsIncidentPost(ctx context.Context, organizationId string) SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsThreatsIncidentPostRequest {
	return SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsThreatsIncidentPostRequest{
		ApiService:     a,
		ctx:            ctx,
		organizationId: organizationId,
	}
}

// Execute executes the request
func (a *SentineloneAPIService) OOrganizationIdIntegrationsSentineloneAccountsThreatsIncidentPostExecute(r SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsThreatsIncidentPostRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SentineloneAPIService.OOrganizationIdIntegrationsSentineloneAccountsThreatsIncidentPost")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/o/{organization_id}/integrations/sentinelone/accounts/threats/incident"
	localVarPath = strings.Replace(localVarPath, "{"+"organization_id"+"}", url.PathEscape(parameterValueToString(r.organizationId, "organizationId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.request == nil {
		return nil, reportError("request is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.request
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsThreatsMitigateActionPostRequest struct {
	ctx            context.Context
	ApiService     *SentineloneAPIService
	organizationId string
	action         string
	request        *GithubComAddigyPublicApiGatewayHandlersSentineloneThreatFilter
}

// Request for mitigate threats
func (r SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsThreatsMitigateActionPostRequest) Request(request GithubComAddigyPublicApiGatewayHandlersSentineloneThreatFilter) SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsThreatsMitigateActionPostRequest {
	r.request = &request
	return r
}

func (r SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsThreatsMitigateActionPostRequest) Execute() (*http.Response, error) {
	return r.ApiService.OOrganizationIdIntegrationsSentineloneAccountsThreatsMitigateActionPostExecute(r)
}

/*
OOrganizationIdIntegrationsSentineloneAccountsThreatsMitigateActionPost Mitigate SentinelOne threats with specific action

Mitigate SentinelOne threats with specific action

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param organizationId The organization id
	@param action Mitigation action
	@return SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsThreatsMitigateActionPostRequest
*/
func (a *SentineloneAPIService) OOrganizationIdIntegrationsSentineloneAccountsThreatsMitigateActionPost(ctx context.Context, organizationId string, action string) SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsThreatsMitigateActionPostRequest {
	return SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsThreatsMitigateActionPostRequest{
		ApiService:     a,
		ctx:            ctx,
		organizationId: organizationId,
		action:         action,
	}
}

// Execute executes the request
func (a *SentineloneAPIService) OOrganizationIdIntegrationsSentineloneAccountsThreatsMitigateActionPostExecute(r SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsThreatsMitigateActionPostRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SentineloneAPIService.OOrganizationIdIntegrationsSentineloneAccountsThreatsMitigateActionPost")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/o/{organization_id}/integrations/sentinelone/accounts/threats/mitigate/{action}"
	localVarPath = strings.Replace(localVarPath, "{"+"organization_id"+"}", url.PathEscape(parameterValueToString(r.organizationId, "organizationId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"action"+"}", url.PathEscape(parameterValueToString(r.action, "action")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.request == nil {
		return nil, reportError("request is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.request
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsThreatsThreatIdNotesGetRequest struct {
	ctx            context.Context
	ApiService     *SentineloneAPIService
	organizationId string
	threatId       string
	limit          *int32
	skip           *int32
	sortBy         *string
	sortOrder      *string
}

// Limit results
func (r SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsThreatsThreatIdNotesGetRequest) Limit(limit int32) SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsThreatsThreatIdNotesGetRequest {
	r.limit = &limit
	return r
}

// Skip results
func (r SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsThreatsThreatIdNotesGetRequest) Skip(skip int32) SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsThreatsThreatIdNotesGetRequest {
	r.skip = &skip
	return r
}

// Sort field
func (r SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsThreatsThreatIdNotesGetRequest) SortBy(sortBy string) SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsThreatsThreatIdNotesGetRequest {
	r.sortBy = &sortBy
	return r
}

// Sort order (asc/desc)
func (r SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsThreatsThreatIdNotesGetRequest) SortOrder(sortOrder string) SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsThreatsThreatIdNotesGetRequest {
	r.sortOrder = &sortOrder
	return r
}

func (r SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsThreatsThreatIdNotesGetRequest) Execute() (*SentineloneThreatNoteCreateResponse, *http.Response, error) {
	return r.ApiService.OOrganizationIdIntegrationsSentineloneAccountsThreatsThreatIdNotesGetExecute(r)
}

/*
OOrganizationIdIntegrationsSentineloneAccountsThreatsThreatIdNotesGet Get SentinelOne threat notes

List the notes attached to a specific SentinelOne threat.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param organizationId The organization id
	@param threatId The threat id
	@return SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsThreatsThreatIdNotesGetRequest
*/
func (a *SentineloneAPIService) OOrganizationIdIntegrationsSentineloneAccountsThreatsThreatIdNotesGet(ctx context.Context, organizationId string, threatId string) SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsThreatsThreatIdNotesGetRequest {
	return SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsThreatsThreatIdNotesGetRequest{
		ApiService:     a,
		ctx:            ctx,
		organizationId: organizationId,
		threatId:       threatId,
	}
}

// Execute executes the request
//
//	@return SentineloneThreatNoteCreateResponse
func (a *SentineloneAPIService) OOrganizationIdIntegrationsSentineloneAccountsThreatsThreatIdNotesGetExecute(r SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsThreatsThreatIdNotesGetRequest) (*SentineloneThreatNoteCreateResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SentineloneThreatNoteCreateResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SentineloneAPIService.OOrganizationIdIntegrationsSentineloneAccountsThreatsThreatIdNotesGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/o/{organization_id}/integrations/sentinelone/accounts/threats/{threat_id}/notes"
	localVarPath = strings.Replace(localVarPath, "{"+"organization_id"+"}", url.PathEscape(parameterValueToString(r.organizationId, "organizationId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"threat_id"+"}", url.PathEscape(parameterValueToString(r.threatId, "threatId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "", "")
	} else {
		var defaultValue int32 = 50
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "", "")
		r.limit = &defaultValue
	}
	if r.skip != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "skip", r.skip, "", "")
	} else {
		var defaultValue int32 = 0
		parameterAddToHeaderOrQuery(localVarQueryParams, "skip", defaultValue, "", "")
		r.skip = &defaultValue
	}
	if r.sortBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_by", r.sortBy, "", "")
	}
	if r.sortOrder != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_order", r.sortOrder, "", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsThreatsThreatIdNotesNoteIdDeleteRequest struct {
	ctx            context.Context
	ApiService     *SentineloneAPIService
	organizationId string
	threatId       string
	noteId         string
}

func (r SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsThreatsThreatIdNotesNoteIdDeleteRequest) Execute() (*http.Response, error) {
	return r.ApiService.OOrganizationIdIntegrationsSentineloneAccountsThreatsThreatIdNotesNoteIdDeleteExecute(r)
}

/*
OOrganizationIdIntegrationsSentineloneAccountsThreatsThreatIdNotesNoteIdDelete Delete note for SentinelOne threat

Delete note for SentinelOne threats

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param organizationId The organization id
	@param threatId The threat id
	@param noteId The note id
	@return SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsThreatsThreatIdNotesNoteIdDeleteRequest
*/
func (a *SentineloneAPIService) OOrganizationIdIntegrationsSentineloneAccountsThreatsThreatIdNotesNoteIdDelete(ctx context.Context, organizationId string, threatId string, noteId string) SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsThreatsThreatIdNotesNoteIdDeleteRequest {
	return SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsThreatsThreatIdNotesNoteIdDeleteRequest{
		ApiService:     a,
		ctx:            ctx,
		organizationId: organizationId,
		threatId:       threatId,
		noteId:         noteId,
	}
}

// Execute executes the request
func (a *SentineloneAPIService) OOrganizationIdIntegrationsSentineloneAccountsThreatsThreatIdNotesNoteIdDeleteExecute(r SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsThreatsThreatIdNotesNoteIdDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SentineloneAPIService.OOrganizationIdIntegrationsSentineloneAccountsThreatsThreatIdNotesNoteIdDelete")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/o/{organization_id}/integrations/sentinelone/accounts/threats/{threat_id}/notes/{note_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"organization_id"+"}", url.PathEscape(parameterValueToString(r.organizationId, "organizationId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"threat_id"+"}", url.PathEscape(parameterValueToString(r.threatId, "threatId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"note_id"+"}", url.PathEscape(parameterValueToString(r.noteId, "noteId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsThreatsThreatIdNotesNoteIdPutRequest struct {
	ctx            context.Context
	ApiService     *SentineloneAPIService
	organizationId string
	threatId       string
	noteId         string
	request        *SentineloneThreatNote
}

// Request for updating threat note
func (r SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsThreatsThreatIdNotesNoteIdPutRequest) Request(request SentineloneThreatNote) SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsThreatsThreatIdNotesNoteIdPutRequest {
	r.request = &request
	return r
}

func (r SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsThreatsThreatIdNotesNoteIdPutRequest) Execute() (*SentineloneThreatNoteUpdateResponse, *http.Response, error) {
	return r.ApiService.OOrganizationIdIntegrationsSentineloneAccountsThreatsThreatIdNotesNoteIdPutExecute(r)
}

/*
OOrganizationIdIntegrationsSentineloneAccountsThreatsThreatIdNotesNoteIdPut Update note for SentinelOne threat

Update note for SentinelOne threats

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param organizationId The organization id
	@param threatId The threat id
	@param noteId The note id
	@return SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsThreatsThreatIdNotesNoteIdPutRequest
*/
func (a *SentineloneAPIService) OOrganizationIdIntegrationsSentineloneAccountsThreatsThreatIdNotesNoteIdPut(ctx context.Context, organizationId string, threatId string, noteId string) SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsThreatsThreatIdNotesNoteIdPutRequest {
	return SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsThreatsThreatIdNotesNoteIdPutRequest{
		ApiService:     a,
		ctx:            ctx,
		organizationId: organizationId,
		threatId:       threatId,
		noteId:         noteId,
	}
}

// Execute executes the request
//
//	@return SentineloneThreatNoteUpdateResponse
func (a *SentineloneAPIService) OOrganizationIdIntegrationsSentineloneAccountsThreatsThreatIdNotesNoteIdPutExecute(r SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsThreatsThreatIdNotesNoteIdPutRequest) (*SentineloneThreatNoteUpdateResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SentineloneThreatNoteUpdateResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SentineloneAPIService.OOrganizationIdIntegrationsSentineloneAccountsThreatsThreatIdNotesNoteIdPut")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/o/{organization_id}/integrations/sentinelone/accounts/threats/{threat_id}/notes/{note_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"organization_id"+"}", url.PathEscape(parameterValueToString(r.organizationId, "organizationId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"threat_id"+"}", url.PathEscape(parameterValueToString(r.threatId, "threatId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"note_id"+"}", url.PathEscape(parameterValueToString(r.noteId, "noteId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.request == nil {
		return localVarReturnValue, nil, reportError("request is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.request
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsThreatsThreatIdNotesPostRequest struct {
	ctx            context.Context
	ApiService     *SentineloneAPIService
	organizationId string
	threatId       string
	request        *SentineloneThreatNote
}

// Request for creating threat note
func (r SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsThreatsThreatIdNotesPostRequest) Request(request SentineloneThreatNote) SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsThreatsThreatIdNotesPostRequest {
	r.request = &request
	return r
}

func (r SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsThreatsThreatIdNotesPostRequest) Execute() (*http.Response, error) {
	return r.ApiService.OOrganizationIdIntegrationsSentineloneAccountsThreatsThreatIdNotesPostExecute(r)
}

/*
OOrganizationIdIntegrationsSentineloneAccountsThreatsThreatIdNotesPost Create note for SentinelOne threats

Create note for SentinelOne threats

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param organizationId The organization id
	@param threatId The threat id
	@return SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsThreatsThreatIdNotesPostRequest
*/
func (a *SentineloneAPIService) OOrganizationIdIntegrationsSentineloneAccountsThreatsThreatIdNotesPost(ctx context.Context, organizationId string, threatId string) SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsThreatsThreatIdNotesPostRequest {
	return SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsThreatsThreatIdNotesPostRequest{
		ApiService:     a,
		ctx:            ctx,
		organizationId: organizationId,
		threatId:       threatId,
	}
}

// Execute executes the request
func (a *SentineloneAPIService) OOrganizationIdIntegrationsSentineloneAccountsThreatsThreatIdNotesPostExecute(r SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsThreatsThreatIdNotesPostRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SentineloneAPIService.OOrganizationIdIntegrationsSentineloneAccountsThreatsThreatIdNotesPost")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/o/{organization_id}/integrations/sentinelone/accounts/threats/{threat_id}/notes"
	localVarPath = strings.Replace(localVarPath, "{"+"organization_id"+"}", url.PathEscape(parameterValueToString(r.organizationId, "organizationId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"threat_id"+"}", url.PathEscape(parameterValueToString(r.threatId, "threatId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.request == nil {
		return nil, reportError("request is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.request
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsUsersAdminsGetRequest struct {
	ctx            context.Context
	ApiService     *SentineloneAPIService
	organizationId string
	limit          *int32
	skip           *int32
	sortBy         *string
	sortOrder      *string
}

// Limit results
func (r SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsUsersAdminsGetRequest) Limit(limit int32) SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsUsersAdminsGetRequest {
	r.limit = &limit
	return r
}

// Skip results
func (r SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsUsersAdminsGetRequest) Skip(skip int32) SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsUsersAdminsGetRequest {
	r.skip = &skip
	return r
}

// Sort field
func (r SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsUsersAdminsGetRequest) SortBy(sortBy string) SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsUsersAdminsGetRequest {
	r.sortBy = &sortBy
	return r
}

// Sort order (asc/desc)
func (r SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsUsersAdminsGetRequest) SortOrder(sortOrder string) SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsUsersAdminsGetRequest {
	r.sortOrder = &sortOrder
	return r
}

func (r SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsUsersAdminsGetRequest) Execute() (*SentineloneGetUsersResponseData, *http.Response, error) {
	return r.ApiService.OOrganizationIdIntegrationsSentineloneAccountsUsersAdminsGetExecute(r)
}

/*
OOrganizationIdIntegrationsSentineloneAccountsUsersAdminsGet Get SentinelOne admin users

Get SentinelOne admin users

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param organizationId The organization id
	@return SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsUsersAdminsGetRequest
*/
func (a *SentineloneAPIService) OOrganizationIdIntegrationsSentineloneAccountsUsersAdminsGet(ctx context.Context, organizationId string) SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsUsersAdminsGetRequest {
	return SentineloneAPIOOrganizationIdIntegrationsSentineloneAccountsUsersAdminsGetRequest{
		ApiService:     a,
		ctx:            ctx,
		organizationId: organizationId,
	}
}

[...]
