/*
Addigy API Documentation

The [Addigy API](https://app.addigy.com/integrations) is designed to provide Addigy users with programmatic access to all data in their Addigy environment. Via the Addigy API users have read and write access to nearly all the data in their environment allowing them to automate activities in Addigy and integrate into 3rd party systems.<br> API keys can be created within your Addigy organization by visiting [Account -> Integrations](https://app.addigy.com/integrations).<br> **What does it mean if an API v2 endpoint is marked as \"Beta\"?** In rare cases, the required request and response data for an endpoint may change. Should a change be needed, Addigy will communicate the changes providing time for users to transition and test.<br> **Child Organizations** <br>Endpoints that have /oa/ in their path enable you to request data for an organization and its descendant organizations. To use this capability, there are two query parameters: <ul><li><b>multitenancy</b> (optional, boolean): When set to true, the request will include data for all descendant organizations (child, grandchild, etc.), allowing you to query across multiple organizations. If set to false or omitted, the request will return data only for your own organization.</li> <br><li><b>child-organizations</b> (optional, string): A comma-separated list of organization IDs to filter results for specific descendant organizations. If omitted, all child organizations will be included in the query by default if the multitenancy query param is set to true.</li></ul> <p>If you have questions or suggestions for the Addigy API Contact <a href=\"mailto:support@addigy.com\">Addigy Support</a></p>

API version: 2.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package pipedriveapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// SystemUpdatesDdmAPIService SystemUpdatesDdmAPI service
type SystemUpdatesDdmAPIService service

type SystemUpdatesDdmAPIOOrganizationIdDdmUpdatesDevicesDeclarationsActiveGetRequest struct {
	ctx            context.Context
	ApiService     *SystemUpdatesDdmAPIService
	deviceUdid     *string
	organizationId string
}

// Device UDID
func (r SystemUpdatesDdmAPIOOrganizationIdDdmUpdatesDevicesDeclarationsActiveGetRequest) DeviceUdid(deviceUdid string) SystemUpdatesDdmAPIOOrganizationIdDdmUpdatesDevicesDeclarationsActiveGetRequest {
	r.deviceUdid = &deviceUdid
	return r
}

func (r SystemUpdatesDdmAPIOOrganizationIdDdmUpdatesDevicesDeclarationsActiveGetRequest) Execute() ([]OOrganizationIdDdmUpdatesDevicesDeclarationsActiveGet200ResponseInner, *http.Response, error) {
	return r.ApiService.OOrganizationIdDdmUpdatesDevicesDeclarationsActiveGetExecute(r)
}

/*
OOrganizationIdDdmUpdatesDevicesDeclarationsActiveGet Gets device active ddm system updates declaration.

Gets device active ddm system updates declaration.<br><b>Permission Required: </b>View devices.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param organizationId Organization ID
	@return SystemUpdatesDdmAPIOOrganizationIdDdmUpdatesDevicesDeclarationsActiveGetRequest
*/
func (a *SystemUpdatesDdmAPIService) OOrganizationIdDdmUpdatesDevicesDeclarationsActiveGet(ctx context.Context, organizationId string) SystemUpdatesDdmAPIOOrganizationIdDdmUpdatesDevicesDeclarationsActiveGetRequest {
	return SystemUpdatesDdmAPIOOrganizationIdDdmUpdatesDevicesDeclarationsActiveGetRequest{
		ApiService:     a,
		ctx:            ctx,
		organizationId: organizationId,
	}
}

// Execute executes the request
//
//	@return []OOrganizationIdDdmUpdatesDevicesDeclarationsActiveGet200ResponseInner
func (a *SystemUpdatesDdmAPIService) OOrganizationIdDdmUpdatesDevicesDeclarationsActiveGetExecute(r SystemUpdatesDdmAPIOOrganizationIdDdmUpdatesDevicesDeclarationsActiveGetRequest) ([]OOrganizationIdDdmUpdatesDevicesDeclarationsActiveGet200ResponseInner, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []OOrganizationIdDdmUpdatesDevicesDeclarationsActiveGet200ResponseInner
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SystemUpdatesDdmAPIService.OOrganizationIdDdmUpdatesDevicesDeclarationsActiveGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/o/{organization_id}/ddm-updates/devices/declarations/active"
	localVarPath = strings.Replace(localVarPath, "{"+"organization_id"+"}", url.PathEscape(parameterValueToString(r.organizationId, "organizationId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.deviceUdid == nil {
		return localVarReturnValue, nil, reportError("deviceUdid is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "device_udid", r.deviceUdid, "", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SystemUpdatesDdmAPIOOrganizationIdDdmUpdatesDevicesStatusPendingUpdatesPostRequest struct {
	ctx            context.Context
	ApiService     *SystemUpdatesDdmAPIService
	organizationId string
	request        *[]string
}

// Devices UUIDs
func (r SystemUpdatesDdmAPIOOrganizationIdDdmUpdatesDevicesStatusPendingUpdatesPostRequest) Request(request []string) SystemUpdatesDdmAPIOOrganizationIdDdmUpdatesDevicesStatusPendingUpdatesPostRequest {
	r.request = &request
	return r
}

func (r SystemUpdatesDdmAPIOOrganizationIdDdmUpdatesDevicesStatusPendingUpdatesPostRequest) Execute() (*map[string]DmCheckinServicePendingUpdate, *http.Response, error) {
	return r.ApiService.OOrganizationIdDdmUpdatesDevicesStatusPendingUpdatesPostExecute(r)
}

/*
OOrganizationIdDdmUpdatesDevicesStatusPendingUpdatesPost Gets devices pending updates.

Gets devices pending updates.<br><b>Permission Required: </b>View devices.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param organizationId Organization ID
	@return SystemUpdatesDdmAPIOOrganizationIdDdmUpdatesDevicesStatusPendingUpdatesPostRequest
*/
func (a *SystemUpdatesDdmAPIService) OOrganizationIdDdmUpdatesDevicesStatusPendingUpdatesPost(ctx context.Context, organizationId string) SystemUpdatesDdmAPIOOrganizationIdDdmUpdatesDevicesStatusPendingUpdatesPostRequest {
	return SystemUpdatesDdmAPIOOrganizationIdDdmUpdatesDevicesStatusPendingUpdatesPostRequest{
		ApiService:     a,
		ctx:            ctx,
		organizationId: organizationId,
	}
}

// Execute executes the request
//
//	@return map[string]DmCheckinServicePendingUpdate
func (a *SystemUpdatesDdmAPIService) OOrganizationIdDdmUpdatesDevicesStatusPendingUpdatesPostExecute(r SystemUpdatesDdmAPIOOrganizationIdDdmUpdatesDevicesStatusPendingUpdatesPostRequest) (*map[string]DmCheckinServicePendingUpdate, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *map[string]DmCheckinServicePendingUpdate
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SystemUpdatesDdmAPIService.OOrganizationIdDdmUpdatesDevicesStatusPendingUpdatesPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/o/{organization_id}/ddm-updates/devices/status/pending-updates"
	localVarPath = strings.Replace(localVarPath, "{"+"organization_id"+"}", url.PathEscape(parameterValueToString(r.organizationId, "organizationId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.request == nil {
		return localVarReturnValue, nil, reportError("request is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.request
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SystemUpdatesDdmAPISystemUpdatesDdmPolicyDeploymentStatusesDevicesGetRequest struct {
	ctx                     context.Context
	ApiService              *SystemUpdatesDdmAPIService
	policyId                *string
	buildVersion            *string
	includeCompletedUpdates *bool
	page                    *int32
	limit                   *int32
}

// Policy Id
func (r SystemUpdatesDdmAPISystemUpdatesDdmPolicyDeploymentStatusesDevicesGetRequest) PolicyId(policyId string) SystemUpdatesDdmAPISystemUpdatesDdmPolicyDeploymentStatusesDevicesGetRequest {
	r.policyId = &policyId
	return r
}

// Build Version
func (r SystemUpdatesDdmAPISystemUpdatesDdmPolicyDeploymentStatusesDevicesGetRequest) BuildVersion(buildVersion string) SystemUpdatesDdmAPISystemUpdatesDdmPolicyDeploymentStatusesDevicesGetRequest {
	r.buildVersion = &buildVersion
	return r
}

// Include Completed Updates
func (r SystemUpdatesDdmAPISystemUpdatesDdmPolicyDeploymentStatusesDevicesGetRequest) IncludeCompletedUpdates(includeCompletedUpdates bool) SystemUpdatesDdmAPISystemUpdatesDdmPolicyDeploymentStatusesDevicesGetRequest {
	r.includeCompletedUpdates = &includeCompletedUpdates
	return r
}

// Page
func (r SystemUpdatesDdmAPISystemUpdatesDdmPolicyDeploymentStatusesDevicesGetRequest) Page(page int32) SystemUpdatesDdmAPISystemUpdatesDdmPolicyDeploymentStatusesDevicesGetRequest {
	r.page = &page
	return r
}

// Limit
func (r SystemUpdatesDdmAPISystemUpdatesDdmPolicyDeploymentStatusesDevicesGetRequest) Limit(limit int32) SystemUpdatesDdmAPISystemUpdatesDdmPolicyDeploymentStatusesDevicesGetRequest {
	r.limit = &limit
	return r
}

func (r SystemUpdatesDdmAPISystemUpdatesDdmPolicyDeploymentStatusesDevicesGetRequest) Execute() ([]SoftwareUpdatesServiceDdmPolicyDeploymentDeviceStatusesPaginated, *http.Response, error) {
	return r.ApiService.SystemUpdatesDdmPolicyDeploymentStatusesDevicesGetExecute(r)
}

/*
SystemUpdatesDdmPolicyDeploymentStatusesDevicesGet Gets policy deployment device statuses for ddm updates.

Gets policy deployment device statuses for ddm updates.
<b>Permission Required: </b>View Device List.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return SystemUpdatesDdmAPISystemUpdatesDdmPolicyDeploymentStatusesDevicesGetRequest
*/
func (a *SystemUpdatesDdmAPIService) SystemUpdatesDdmPolicyDeploymentStatusesDevicesGet(ctx context.Context) SystemUpdatesDdmAPISystemUpdatesDdmPolicyDeploymentStatusesDevicesGetRequest {
	return SystemUpdatesDdmAPISystemUpdatesDdmPolicyDeploymentStatusesDevicesGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []SoftwareUpdatesServiceDdmPolicyDeploymentDeviceStatusesPaginated
func (a *SystemUpdatesDdmAPIService) SystemUpdatesDdmPolicyDeploymentStatusesDevicesGetExecute(r SystemUpdatesDdmAPISystemUpdatesDdmPolicyDeploymentStatusesDevicesGetRequest) ([]SoftwareUpdatesServiceDdmPolicyDeploymentDeviceStatusesPaginated, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []SoftwareUpdatesServiceDdmPolicyDeploymentDeviceStatusesPaginated
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SystemUpdatesDdmAPIService.SystemUpdatesDdmPolicyDeploymentStatusesDevicesGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/system-updates/ddm/policy-deployment/statuses/devices"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.policyId == nil {
		return localVarReturnValue, nil, reportError("policyId is required and must be specified")
	}
	if r.buildVersion == nil {
		return localVarReturnValue, nil, reportError("buildVersion is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "policy_id", r.policyId, "", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "build_version", r.buildVersion, "", "")
	if r.includeCompletedUpdates != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "include_completed_updates", r.includeCompletedUpdates, "", "")
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SystemUpdatesDdmAPISystemUpdatesDdmPolicyDeploymentStatusesGetRequest struct {
	ctx        context.Context
	ApiService *SystemUpdatesDdmAPIService
	policyId   *string
}

// Policy Id
func (r SystemUpdatesDdmAPISystemUpdatesDdmPolicyDeploymentStatusesGetRequest) PolicyId(policyId string) SystemUpdatesDdmAPISystemUpdatesDdmPolicyDeploymentStatusesGetRequest {
	r.policyId = &policyId
	return r
}

func (r SystemUpdatesDdmAPISystemUpdatesDdmPolicyDeploymentStatusesGetRequest) Execute() ([]SoftwareUpdatesServiceDdmStatusCount, *http.Response, error) {
	return r.ApiService.SystemUpdatesDdmPolicyDeploymentStatusesGetExecute(r)
}

/*
SystemUpdatesDdmPolicyDeploymentStatusesGet Gets policy deployment status for ddm updates.

Gets policy deployment status for ddm updates.
<b>Permission Required: </b>View Device List.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return SystemUpdatesDdmAPISystemUpdatesDdmPolicyDeploymentStatusesGetRequest
*/
func (a *SystemUpdatesDdmAPIService) SystemUpdatesDdmPolicyDeploymentStatusesGet(ctx context.Context) SystemUpdatesDdmAPISystemUpdatesDdmPolicyDeploymentStatusesGetRequest {
	return SystemUpdatesDdmAPISystemUpdatesDdmPolicyDeploymentStatusesGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []SoftwareUpdatesServiceDdmStatusCount
func (a *SystemUpdatesDdmAPIService) SystemUpdatesDdmPolicyDeploymentStatusesGetExecute(r SystemUpdatesDdmAPISystemUpdatesDdmPolicyDeploymentStatusesGetRequest) ([]SoftwareUpdatesServiceDdmStatusCount, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []SoftwareUpdatesServiceDdmStatusCount
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SystemUpdatesDdmAPIService.SystemUpdatesDdmPolicyDeploymentStatusesGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/system-updates/ddm/policy-deployment/statuses"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.policyId == nil {
		return localVarReturnValue, nil, reportError("policyId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "policy_id", r.policyId, "", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SystemUpdatesDdmAPISystemUpdatesDdmStatusGetRequest struct {
	ctx        context.Context
	ApiService *SystemUpdatesDdmAPIService
	deviceUdid *string
}

// Gets device system updates statuses via ddm status report
func (r SystemUpdatesDdmAPISystemUpdatesDdmStatusGetRequest) DeviceUdid(deviceUdid string) SystemUpdatesDdmAPISystemUpdatesDdmStatusGetRequest {
	r.deviceUdid = &deviceUdid
	return r
}

func (r SystemUpdatesDdmAPISystemUpdatesDdmStatusGetRequest) Execute() ([]SoftwareUpdatesServiceDdmOsUpdatesStatus, *http.Response, error) {
	return r.ApiService.SystemUpdatesDdmStatusGetExecute(r)
}

/*
SystemUpdatesDdmStatusGet Gets device system updates statuses via ddm status report.

Gets device system updates statuses via ddm status report.
<b>Permission Required: </b>View Device List.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return SystemUpdatesDdmAPISystemUpdatesDdmStatusGetRequest
*/
func (a *SystemUpdatesDdmAPIService) SystemUpdatesDdmStatusGet(ctx context.Context) SystemUpdatesDdmAPISystemUpdatesDdmStatusGetRequest {
	return SystemUpdatesDdmAPISystemUpdatesDdmStatusGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []SoftwareUpdatesServiceDdmOsUpdatesStatus
func (a *SystemUpdatesDdmAPIService) SystemUpdatesDdmStatusGetExecute(r SystemUpdatesDdmAPISystemUpdatesDdmStatusGetRequest) ([]SoftwareUpdatesServiceDdmOsUpdatesStatus, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []SoftwareUpdatesServiceDdmOsUpdatesStatus
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SystemUpdatesDdmAPIService.SystemUpdatesDdmStatusGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/system-updates/ddm/status"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.deviceUdid == nil {
		return localVarReturnValue, nil, reportError("deviceUdid is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "device_udid", r.deviceUdid, "", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SystemUpdatesDdmAPISystemUpdatesInstalledDdmGetRequest struct {
	ctx        context.Context
	ApiService *SystemUpdatesDdmAPIService
	deviceUuid *string
}

// Device Uuid
func (r SystemUpdatesDdmAPISystemUpdatesInstalledDdmGetRequest) DeviceUuid(deviceUuid string) SystemUpdatesDdmAPISystemUpdatesInstalledDdmGetRequest {
	r.deviceUuid = &deviceUuid
	return r
}

func (r SystemUpdatesDdmAPISystemUpdatesInstalledDdmGetRequest) Execute() ([]SoftwareUpdatesServiceDdmInstalledSystemUpdates, *http.Response, error) {
	return r.ApiService.SystemUpdatesInstalledDdmGetExecute(r)
}

/*
SystemUpdatesInstalledDdmGet Gets installed ddm system updates for a device.

Gets installed ddm system updates for a device.
<b>Permission Required: </b>View System Updates Settings.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return SystemUpdatesDdmAPISystemUpdatesInstalledDdmGetRequest
*/
func (a *SystemUpdatesDdmAPIService) SystemUpdatesInstalledDdmGet(ctx context.Context) SystemUpdatesDdmAPISystemUpdatesInstalledDdmGetRequest {
	return SystemUpdatesDdmAPISystemUpdatesInstalledDdmGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []SoftwareUpdatesServiceDdmInstalledSystemUpdates
func (a *SystemUpdatesDdmAPIService) SystemUpdatesInstalledDdmGetExecute(r SystemUpdatesDdmAPISystemUpdatesInstalledDdmGetRequest) ([]SoftwareUpdatesServiceDdmInstalledSystemUpdates, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []SoftwareUpdatesServiceDdmInstalledSystemUpdates
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SystemUpdatesDdmAPIService.SystemUpdatesInstalledDdmGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/system-updates/installed/ddm"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.deviceUuid == nil {
		return localVarReturnValue, nil, reportError("deviceUuid is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "device_uuid", r.deviceUuid, "", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SystemUpdatesDdmAPISystemUpdatesLatestGetRequest struct {
	ctx        context.Context
	ApiService *SystemUpdatesDdmAPIService
}

func (r SystemUpdatesDdmAPISystemUpdatesLatestGetRequest) Execute() (*SoftwareUpdatesServiceLatestOsUpdates, *http.Response, error) {
	return r.ApiService.SystemUpdatesLatestGetExecute(r)
}

/*
SystemUpdatesLatestGet Get latest system updates available by os type

Get latest system updates available by os type

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return SystemUpdatesDdmAPISystemUpdatesLatestGetRequest
*/
func (a *SystemUpdatesDdmAPIService) SystemUpdatesLatestGet(ctx context.Context) SystemUpdatesDdmAPISystemUpdatesLatestGetRequest {
	return SystemUpdatesDdmAPISystemUpdatesLatestGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return SoftwareUpdatesServiceLatestOsUpdates
func (a *SystemUpdatesDdmAPIService) SystemUpdatesLatestGetExecute(r SystemUpdatesDdmAPISystemUpdatesLatestGetRequest) (*SoftwareUpdatesServiceLatestOsUpdates, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SoftwareUpdatesServiceLatestOsUpdates
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SystemUpdatesDdmAPIService.SystemUpdatesLatestGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/system-updates/latest"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SystemUpdatesDdmAPISystemUpdatesUpdatesAvailableGetRequest struct {
	ctx        context.Context
	ApiService *SystemUpdatesDdmAPIService
}

func (r SystemUpdatesDdmAPISystemUpdatesUpdatesAvailableGetRequest) Execute() (*SoftwareUpdatesServiceAvailableOsUpdates, *http.Response, error) {
	return r.ApiService.SystemUpdatesUpdatesAvailableGetExecute(r)
}

/*
SystemUpdatesUpdatesAvailableGet Get all available OS updates from the Apple catalog

Get all available OS updates for macOS, iOS and iPadOS from the Apple software catalog

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return SystemUpdatesDdmAPISystemUpdatesUpdatesAvailableGetRequest
*/
func (a *SystemUpdatesDdmAPIService) SystemUpdatesUpdatesAvailableGet(ctx context.Context) SystemUpdatesDdmAPISystemUpdatesUpdatesAvailableGetRequest {
	return SystemUpdatesDdmAPISystemUpdatesUpdatesAvailableGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return SoftwareUpdatesServiceAvailableOsUpdates
func (a *SystemUpdatesDdmAPIService) SystemUpdatesUpdatesAvailableGetExecute(r SystemUpdatesDdmAPISystemUpdatesUpdatesAvailableGetRequest) (*SoftwareUpdatesServiceAvailableOsUpdates, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SoftwareUpdatesServiceAvailableOsUpdates
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SystemUpdatesDdmAPIService.SystemUpdatesUpdatesAvailableGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/system-updates/updates/available"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
