/*
Addigy API Documentation

The [Addigy API](https://app.addigy.com/integrations) is designed to provide Addigy users with programmatic access to all data in their Addigy environment. Via the Addigy API users have read and write access to nearly all the data in their environment allowing them to automate activities in Addigy and integrate into 3rd party systems.<br> API keys can be created within your Addigy organization by visiting [Account -> Integrations](https://app.addigy.com/integrations).<br> **What does it mean if an API v2 endpoint is marked as \"Beta\"?** In rare cases, the required request and response data for an endpoint may change. Should a change be needed, Addigy will communicate the changes providing time for users to transition and test.<br> **Child Organizations** <br>Endpoints that have /oa/ in their path enable you to request data for an organization and its descendant organizations. To use this capability, there are two query parameters: <ul><li><b>multitenancy</b> (optional, boolean): When set to true, the request will include data for all descendant organizations (child, grandchild, etc.), allowing you to query across multiple organizations. If set to false or omitted, the request will return data only for your own organization.</li> <br><li><b>child-organizations</b> (optional, string): A comma-separated list of organization IDs to filter results for specific descendant organizations. If omitted, all child organizations will be included in the query by default if the multitenancy query param is set to true.</li></ul> <p>If you have questions or suggestions for the Addigy API Contact <a href=\"mailto:support@addigy.com\">Addigy Support</a></p>

API version: 2.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package addigyapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

// SystemUpdatesMdmAPIService SystemUpdatesMdmAPI service
type SystemUpdatesMdmAPIService service

type SystemUpdatesMdmAPISystemUpdatesAvailableGetRequest struct {
	ctx        context.Context
	ApiService *SystemUpdatesMdmAPIService
	deviceUdid *string
}

// Device UDID
func (r SystemUpdatesMdmAPISystemUpdatesAvailableGetRequest) DeviceUdid(deviceUdid string) SystemUpdatesMdmAPISystemUpdatesAvailableGetRequest {
	r.deviceUdid = &deviceUdid
	return r
}

func (r SystemUpdatesMdmAPISystemUpdatesAvailableGetRequest) Execute() ([]SystemUpdatesAvailableOsUpdate, *http.Response, error) {
	return r.ApiService.SystemUpdatesAvailableGetExecute(r)
}

/*
SystemUpdatesAvailableGet Gets available system updates reported for a device.

Gets available system updates reported for a device.
<b>Permission Required: </b>View Device List.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return SystemUpdatesMdmAPISystemUpdatesAvailableGetRequest
*/
func (a *SystemUpdatesMdmAPIService) SystemUpdatesAvailableGet(ctx context.Context) SystemUpdatesMdmAPISystemUpdatesAvailableGetRequest {
	return SystemUpdatesMdmAPISystemUpdatesAvailableGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []SystemUpdatesAvailableOsUpdate
func (a *SystemUpdatesMdmAPIService) SystemUpdatesAvailableGetExecute(r SystemUpdatesMdmAPISystemUpdatesAvailableGetRequest) ([]SystemUpdatesAvailableOsUpdate, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []SystemUpdatesAvailableOsUpdate
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SystemUpdatesMdmAPIService.SystemUpdatesAvailableGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/system-updates/available"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.deviceUdid == nil {
		return localVarReturnValue, nil, reportError("deviceUdid is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "device_udid", r.deviceUdid, "", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SystemUpdatesMdmAPISystemUpdatesAvailablePostRequest struct {
	ctx        context.Context
	ApiService *SystemUpdatesMdmAPIService
	request    *SoftwareUpdatesServiceSystemUpdatesBaseRequest
}

// Requests available system updates for a device via MDM command
func (r SystemUpdatesMdmAPISystemUpdatesAvailablePostRequest) Request(request SoftwareUpdatesServiceSystemUpdatesBaseRequest) SystemUpdatesMdmAPISystemUpdatesAvailablePostRequest {
	r.request = &request
	return r
}

func (r SystemUpdatesMdmAPISystemUpdatesAvailablePostRequest) Execute() (*SystemUpdatesAvailablePost200Response, *http.Response, error) {
	return r.ApiService.SystemUpdatesAvailablePostExecute(r)
}

/*
SystemUpdatesAvailablePost Requests available system updates for a device via MDM command.

Requests available system updates for a device via MDM command.
<b>Permission Required: </b>View Device List, Execute Predefined Commands.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return SystemUpdatesMdmAPISystemUpdatesAvailablePostRequest
*/
func (a *SystemUpdatesMdmAPIService) SystemUpdatesAvailablePost(ctx context.Context) SystemUpdatesMdmAPISystemUpdatesAvailablePostRequest {
	return SystemUpdatesMdmAPISystemUpdatesAvailablePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return SystemUpdatesAvailablePost200Response
func (a *SystemUpdatesMdmAPIService) SystemUpdatesAvailablePostExecute(r SystemUpdatesMdmAPISystemUpdatesAvailablePostRequest) (*SystemUpdatesAvailablePost200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SystemUpdatesAvailablePost200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SystemUpdatesMdmAPIService.SystemUpdatesAvailablePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/system-updates/available"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.request == nil {
		return localVarReturnValue, nil, reportError("request is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.request
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SystemUpdatesMdmAPISystemUpdatesAvailableQueryPostRequest struct {
	ctx        context.Context
	ApiService *SystemUpdatesMdmAPIService
	request    *SoftwareUpdatesServiceQueryAvailableSystemUpdatesRequest
}

// Query for available updates
func (r SystemUpdatesMdmAPISystemUpdatesAvailableQueryPostRequest) Request(request SoftwareUpdatesServiceQueryAvailableSystemUpdatesRequest) SystemUpdatesMdmAPISystemUpdatesAvailableQueryPostRequest {
	r.request = &request
	return r
}

func (r SystemUpdatesMdmAPISystemUpdatesAvailableQueryPostRequest) Execute() ([]SoftwareUpdatesServiceAvailableOsUpdate, *http.Response, error) {
	return r.ApiService.SystemUpdatesAvailableQueryPostExecute(r)
}

/*
SystemUpdatesAvailableQueryPost Gets available updates reported for multiple devices

Gets available updates reported for multiple devices.
<b>Permission Required: </b>[View System Updates Settings, View Device List]

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return SystemUpdatesMdmAPISystemUpdatesAvailableQueryPostRequest
*/
func (a *SystemUpdatesMdmAPIService) SystemUpdatesAvailableQueryPost(ctx context.Context) SystemUpdatesMdmAPISystemUpdatesAvailableQueryPostRequest {
	return SystemUpdatesMdmAPISystemUpdatesAvailableQueryPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []SoftwareUpdatesServiceAvailableOsUpdate
func (a *SystemUpdatesMdmAPIService) SystemUpdatesAvailableQueryPostExecute(r SystemUpdatesMdmAPISystemUpdatesAvailableQueryPostRequest) ([]SoftwareUpdatesServiceAvailableOsUpdate, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []SoftwareUpdatesServiceAvailableOsUpdate
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SystemUpdatesMdmAPIService.SystemUpdatesAvailableQueryPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/system-updates/available/query"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.request == nil {
		return localVarReturnValue, nil, reportError("request is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.request
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SystemUpdatesMdmAPISystemUpdatesAvailableStatusGetRequest struct {
	ctx        context.Context
	ApiService *SystemUpdatesMdmAPIService
	deviceUdid *string
}

// Device Udid
func (r SystemUpdatesMdmAPISystemUpdatesAvailableStatusGetRequest) DeviceUdid(deviceUdid string) SystemUpdatesMdmAPISystemUpdatesAvailableStatusGetRequest {
	r.deviceUdid = &deviceUdid
	return r
}

func (r SystemUpdatesMdmAPISystemUpdatesAvailableStatusGetRequest) Execute() ([]SoftwareUpdatesServiceAvailableSystemUpdatesAndStatusesResponse, *http.Response, error) {
	return r.ApiService.SystemUpdatesAvailableStatusGetExecute(r)
}

/*
SystemUpdatesAvailableStatusGet Gets available system updates reported for a device, with their current installation statuses.

Gets available system updates reported for a device, with their current installation statuses.
<b>Permission Required: </b>View Device List, Execute Predefined Commands.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return SystemUpdatesMdmAPISystemUpdatesAvailableStatusGetRequest
*/
func (a *SystemUpdatesMdmAPIService) SystemUpdatesAvailableStatusGet(ctx context.Context) SystemUpdatesMdmAPISystemUpdatesAvailableStatusGetRequest {
	return SystemUpdatesMdmAPISystemUpdatesAvailableStatusGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []SoftwareUpdatesServiceAvailableSystemUpdatesAndStatusesResponse
func (a *SystemUpdatesMdmAPIService) SystemUpdatesAvailableStatusGetExecute(r SystemUpdatesMdmAPISystemUpdatesAvailableStatusGetRequest) ([]SoftwareUpdatesServiceAvailableSystemUpdatesAndStatusesResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []SoftwareUpdatesServiceAvailableSystemUpdatesAndStatusesResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SystemUpdatesMdmAPIService.SystemUpdatesAvailableStatusGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/system-updates/available/status"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.deviceUdid == nil {
		return localVarReturnValue, nil, reportError("deviceUdid is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "device_udid", r.deviceUdid, "", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SystemUpdatesMdmAPISystemUpdatesInstalledDeviceReportGetRequest struct {
	ctx        context.Context
	ApiService *SystemUpdatesMdmAPIService
	deviceUuid *string
}

// Device Uuid
func (r SystemUpdatesMdmAPISystemUpdatesInstalledDeviceReportGetRequest) DeviceUuid(deviceUuid string) SystemUpdatesMdmAPISystemUpdatesInstalledDeviceReportGetRequest {
	r.deviceUuid = &deviceUuid
	return r
}

func (r SystemUpdatesMdmAPISystemUpdatesInstalledDeviceReportGetRequest) Execute() ([]SoftwareUpdatesServiceMdmInstalledSystemUpdatesResponse, *http.Response, error) {
	return r.ApiService.SystemUpdatesInstalledDeviceReportGetExecute(r)
}

/*
SystemUpdatesInstalledDeviceReportGet Gets installed system updates reported for a device.

Gets installed system updates reported for a device.
<b>Permission Required: </b>[View System Updates Settings, View Device List].

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return SystemUpdatesMdmAPISystemUpdatesInstalledDeviceReportGetRequest
*/
func (a *SystemUpdatesMdmAPIService) SystemUpdatesInstalledDeviceReportGet(ctx context.Context) SystemUpdatesMdmAPISystemUpdatesInstalledDeviceReportGetRequest {
	return SystemUpdatesMdmAPISystemUpdatesInstalledDeviceReportGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []SoftwareUpdatesServiceMdmInstalledSystemUpdatesResponse
func (a *SystemUpdatesMdmAPIService) SystemUpdatesInstalledDeviceReportGetExecute(r SystemUpdatesMdmAPISystemUpdatesInstalledDeviceReportGetRequest) ([]SoftwareUpdatesServiceMdmInstalledSystemUpdatesResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []SoftwareUpdatesServiceMdmInstalledSystemUpdatesResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SystemUpdatesMdmAPIService.SystemUpdatesInstalledDeviceReportGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/system-updates/installed/device/report"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.deviceUuid == nil {
		return localVarReturnValue, nil, reportError("deviceUuid is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "device_uuid", r.deviceUuid, "", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SystemUpdatesMdmAPISystemUpdatesInstalledOrganizationReportEmailPostRequest struct {
	ctx        context.Context
	ApiService *SystemUpdatesMdmAPIService
	request    *SoftwareUpdatesServiceOrgInstalledSystemUpdatesRequest
}

// Installed system updates request
func (r SystemUpdatesMdmAPISystemUpdatesInstalledOrganizationReportEmailPostRequest) Request(request SoftwareUpdatesServiceOrgInstalledSystemUpdatesRequest) SystemUpdatesMdmAPISystemUpdatesInstalledOrganizationReportEmailPostRequest {
	r.request = &request
	return r
}

func (r SystemUpdatesMdmAPISystemUpdatesInstalledOrganizationReportEmailPostRequest) Execute() (string, *http.Response, error) {
	return r.ApiService.SystemUpdatesInstalledOrganizationReportEmailPostExecute(r)
}

/*
SystemUpdatesInstalledOrganizationReportEmailPost Requests to send installed system updates reported for policy devices to user email.

Requests to send installed system updates reported for policy devices to user email.
<b>Permission Required: </b>View System Updates Settings.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return SystemUpdatesMdmAPISystemUpdatesInstalledOrganizationReportEmailPostRequest
*/
func (a *SystemUpdatesMdmAPIService) SystemUpdatesInstalledOrganizationReportEmailPost(ctx context.Context) SystemUpdatesMdmAPISystemUpdatesInstalledOrganizationReportEmailPostRequest {
	return SystemUpdatesMdmAPISystemUpdatesInstalledOrganizationReportEmailPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return string
func (a *SystemUpdatesMdmAPIService) SystemUpdatesInstalledOrganizationReportEmailPostExecute(r SystemUpdatesMdmAPISystemUpdatesInstalledOrganizationReportEmailPostRequest) (string, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue string
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SystemUpdatesMdmAPIService.SystemUpdatesInstalledOrganizationReportEmailPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/system-updates/installed/organization/report/email"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.request == nil {
		return localVarReturnValue, nil, reportError("request is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.request
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SystemUpdatesMdmAPISystemUpdatesInstalledQueryPostRequest struct {
	ctx        context.Context
	ApiService *SystemUpdatesMdmAPIService
	request    *SoftwareUpdatesServiceQueryInstalledSystemUpdatesRequest
}

// Query Installed System Updates
func (r SystemUpdatesMdmAPISystemUpdatesInstalledQueryPostRequest) Request(request SoftwareUpdatesServiceQueryInstalledSystemUpdatesRequest) SystemUpdatesMdmAPISystemUpdatesInstalledQueryPostRequest {
	r.request = &request
	return r
}

func (r SystemUpdatesMdmAPISystemUpdatesInstalledQueryPostRequest) Execute() ([]SoftwareUpdatesServiceMDMInstalledSystemUpdateFullResponse, *http.Response, error) {
	return r.ApiService.SystemUpdatesInstalledQueryPostExecute(r)
}

/*
SystemUpdatesInstalledQueryPost Gets installed system updates reported for multiple devices

Gets installed system updates reported for multiple devices

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return SystemUpdatesMdmAPISystemUpdatesInstalledQueryPostRequest
*/
func (a *SystemUpdatesMdmAPIService) SystemUpdatesInstalledQueryPost(ctx context.Context) SystemUpdatesMdmAPISystemUpdatesInstalledQueryPostRequest {
	return SystemUpdatesMdmAPISystemUpdatesInstalledQueryPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []SoftwareUpdatesServiceMDMInstalledSystemUpdateFullResponse
func (a *SystemUpdatesMdmAPIService) SystemUpdatesInstalledQueryPostExecute(r SystemUpdatesMdmAPISystemUpdatesInstalledQueryPostRequest) ([]SoftwareUpdatesServiceMDMInstalledSystemUpdateFullResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []SoftwareUpdatesServiceMDMInstalledSystemUpdateFullResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SystemUpdatesMdmAPIService.SystemUpdatesInstalledQueryPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/system-updates/installed/query"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.request == nil {
		return localVarReturnValue, nil, reportError("request is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.request
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SystemUpdatesMdmAPISystemUpdatesOnDemandDeviceUuidsPostRequest struct {
	ctx        context.Context
	ApiService *SystemUpdatesMdmAPIService
	request    *SoftwareUpdatesServiceRunDevicesSystemUpdatesOnDemandRequest
}

// Request for scheduling system updates on-demand for a list of devices
func (r SystemUpdatesMdmAPISystemUpdatesOnDemandDeviceUuidsPostRequest) Request(request SoftwareUpdatesServiceRunDevicesSystemUpdatesOnDemandRequest) SystemUpdatesMdmAPISystemUpdatesOnDemandDeviceUuidsPostRequest {
	r.request = &request
	return r
}

func (r SystemUpdatesMdmAPISystemUpdatesOnDemandDeviceUuidsPostRequest) Execute() (*http.Response, error) {
	return r.ApiService.SystemUpdatesOnDemandDeviceUuidsPostExecute(r)
}

/*
SystemUpdatesOnDemandDeviceUuidsPost Requests to schedule system updates (on-demand) for devices via MDM command.

Requests to schedule system updates (on-demand) for devices via MDM command.
<b>Permission Required: </b>[View System Updates Settings, Create System Updates Settings]
<b>[MDM System Updates Only] </b>System Updates commands are scheduled to be sent daily at 2AM UTC, but you can send them now to the device(s) on this list. Please note that your organization must have a monthly paid plan to use this feature.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return SystemUpdatesMdmAPISystemUpdatesOnDemandDeviceUuidsPostRequest
*/
func (a *SystemUpdatesMdmAPIService) SystemUpdatesOnDemandDeviceUuidsPost(ctx context.Context) SystemUpdatesMdmAPISystemUpdatesOnDemandDeviceUuidsPostRequest {
	return SystemUpdatesMdmAPISystemUpdatesOnDemandDeviceUuidsPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *SystemUpdatesMdmAPIService) SystemUpdatesOnDemandDeviceUuidsPostExecute(r SystemUpdatesMdmAPISystemUpdatesOnDemandDeviceUuidsPostRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SystemUpdatesMdmAPIService.SystemUpdatesOnDemandDeviceUuidsPost")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/system-updates/on-demand/device-uuids"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.request == nil {
		return nil, reportError("request is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.request
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type SystemUpdatesMdmAPISystemUpdatesOnDemandPolicyIdPostRequest struct {
	ctx        context.Context
	ApiService *SystemUpdatesMdmAPIService
	request    *SoftwareUpdatesServiceRunPolicySystemUpdatesOnDemandRequest
}

// Request for scheduling system updates on-demand for a policy
func (r SystemUpdatesMdmAPISystemUpdatesOnDemandPolicyIdPostRequest) Request(request SoftwareUpdatesServiceRunPolicySystemUpdatesOnDemandRequest) SystemUpdatesMdmAPISystemUpdatesOnDemandPolicyIdPostRequest {
	r.request = &request
	return r
}

func (r SystemUpdatesMdmAPISystemUpdatesOnDemandPolicyIdPostRequest) Execute() (*http.Response, error) {
	return r.ApiService.SystemUpdatesOnDemandPolicyIdPostExecute(r)
}

/*
SystemUpdatesOnDemandPolicyIdPost Requests to schedule system updates (on-demand) for policy devices via MDM command.

Requests to schedule system updates (on-demand) for policy devices via MDM command.
<b>Permission Required: </b>[View System Updates Settings, Create System Updates Settings]
<b>[MDM System Updates Only] </b>System Updates commands are scheduled to be sent daily at 2AM UTC, but you can send them now to the device(s) in this policy. Please note that your organization must have a monthly paid plan to use this feature.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return SystemUpdatesMdmAPISystemUpdatesOnDemandPolicyIdPostRequest
*/
func (a *SystemUpdatesMdmAPIService) SystemUpdatesOnDemandPolicyIdPost(ctx context.Context) SystemUpdatesMdmAPISystemUpdatesOnDemandPolicyIdPostRequest {
	return SystemUpdatesMdmAPISystemUpdatesOnDemandPolicyIdPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *SystemUpdatesMdmAPIService) SystemUpdatesOnDemandPolicyIdPostExecute(r SystemUpdatesMdmAPISystemUpdatesOnDemandPolicyIdPostRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SystemUpdatesMdmAPIService.SystemUpdatesOnDemandPolicyIdPost")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/system-updates/on-demand/policy-id"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.request == nil {
		return nil, reportError("request is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.request
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type SystemUpdatesMdmAPISystemUpdatesScanPostRequest struct {
	ctx        context.Context
	ApiService *SystemUpdatesMdmAPIService
	request    *SoftwareUpdatesServiceSystemUpdatesScanRequest
}

// Requests a system updates scan for a device via MDM command
func (r SystemUpdatesMdmAPISystemUpdatesScanPostRequest) Request(request SoftwareUpdatesServiceSystemUpdatesScanRequest) SystemUpdatesMdmAPISystemUpdatesScanPostRequest {
	r.request = &request
	return r
}

func (r SystemUpdatesMdmAPISystemUpdatesScanPostRequest) Execute() (*SystemUpdatesAvailablePost200Response, *http.Response, error) {
	return r.ApiService.SystemUpdatesScanPostExecute(r)
}

/*
SystemUpdatesScanPost Requests a system updates scan for a device via MDM command.

Requests a system updates scan for a device via MDM command.
<b>Permission Required: </b>View Device List, Execute Predefined Commands.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return SystemUpdatesMdmAPISystemUpdatesScanPostRequest
*/
func (a *SystemUpdatesMdmAPIService) SystemUpdatesScanPost(ctx context.Context) SystemUpdatesMdmAPISystemUpdatesScanPostRequest {
	return SystemUpdatesMdmAPISystemUpdatesScanPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return SystemUpdatesAvailablePost200Response
func (a *SystemUpdatesMdmAPIService) SystemUpdatesScanPostExecute(r SystemUpdatesMdmAPISystemUpdatesScanPostRequest) (*SystemUpdatesAvailablePost200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SystemUpdatesAvailablePost200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SystemUpdatesMdmAPIService.SystemUpdatesScanPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/system-updates/scan"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.request == nil {
		return localVarReturnValue, nil, reportError("request is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.request
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SystemUpdatesMdmAPISystemUpdatesSchedulePostRequest struct {
	ctx        context.Context
	ApiService *SystemUpdatesMdmAPIService
	request    *SoftwareUpdatesServiceScheduleUpdateRequest
}

// Requests the schedule of system updates via MDM command
func (r SystemUpdatesMdmAPISystemUpdatesSchedulePostRequest) Request(request SoftwareUpdatesServiceScheduleUpdateRequest) SystemUpdatesMdmAPISystemUpdatesSchedulePostRequest {
	r.request = &request
	return r
}

func (r SystemUpdatesMdmAPISystemUpdatesSchedulePostRequest) Execute() (*SystemUpdatesAvailablePost200Response, *http.Response, error) {
	return r.ApiService.SystemUpdatesSchedulePostExecute(r)
}

/*
SystemUpdatesSchedulePost Requests the schedule of system updates via MDM command.

Requests the schedule of system updates via MDM command.
<b>Permission Required: </b>View Device List, Execute Predefined Commands.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return SystemUpdatesMdmAPISystemUpdatesSchedulePostRequest
*/
func (a *SystemUpdatesMdmAPIService) SystemUpdatesSchedulePost(ctx context.Context) SystemUpdatesMdmAPISystemUpdatesSchedulePostRequest {
	return SystemUpdatesMdmAPISystemUpdatesSchedulePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return SystemUpdatesAvailablePost200Response
func (a *SystemUpdatesMdmAPIService) SystemUpdatesSchedulePostExecute(r SystemUpdatesMdmAPISystemUpdatesSchedulePostRequest) (*SystemUpdatesAvailablePost200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SystemUpdatesAvailablePost200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SystemUpdatesMdmAPIService.SystemUpdatesSchedulePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/system-updates/schedule"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.request == nil {
		return localVarReturnValue, nil, reportError("request is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.request
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SystemUpdatesMdmAPISystemUpdatesSettingsGetRequest struct {
	ctx        context.Context
	ApiService *SystemUpdatesMdmAPIService
	policyId   *string
}

// Policy Id
func (r SystemUpdatesMdmAPISystemUpdatesSettingsGetRequest) PolicyId(policyId string) SystemUpdatesMdmAPISystemUpdatesSettingsGetRequest {
	r.policyId = &policyId
	return r
}

func (r SystemUpdatesMdmAPISystemUpdatesSettingsGetRequest) Execute() (*SoftwareUpdatesServiceSystemUpdatesSettings, *http.Response, error) {
	return r.ApiService.SystemUpdatesSettingsGetExecute(r)
}

/*
SystemUpdatesSettingsGet Gets system updates settings for a policy.

Gets system updates settings for a policy.
<b>Permission Required: </b>View System Updates Settings.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return SystemUpdatesMdmAPISystemUpdatesSettingsGetRequest
*/
func (a *SystemUpdatesMdmAPIService) SystemUpdatesSettingsGet(ctx context.Context) SystemUpdatesMdmAPISystemUpdatesSettingsGetRequest {
	return SystemUpdatesMdmAPISystemUpdatesSettingsGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return SoftwareUpdatesServiceSystemUpdatesSettings
func (a *SystemUpdatesMdmAPIService) SystemUpdatesSettingsGetExecute(r SystemUpdatesMdmAPISystemUpdatesSettingsGetRequest) (*SoftwareUpdatesServiceSystemUpdatesSettings, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SoftwareUpdatesServiceSystemUpdatesSettings
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SystemUpdatesMdmAPIService.SystemUpdatesSettingsGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/system-updates/settings"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.policyId == nil {
		return localVarReturnValue, nil, reportError("policyId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "policy_id", r.policyId, "", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SystemUpdatesMdmAPISystemUpdatesSettingsPostRequest struct {
	ctx        context.Context
	ApiService *SystemUpdatesMdmAPIService
	request    *SoftwareUpdatesServiceSystemUpdatesSettings
}

// Request for creating or updating system updates settings
func (r SystemUpdatesMdmAPISystemUpdatesSettingsPostRequest) Request(request SoftwareUpdatesServiceSystemUpdatesSettings) SystemUpdatesMdmAPISystemUpdatesSettingsPostRequest {
	r.request = &request
	return r
}

func (r SystemUpdatesMdmAPISystemUpdatesSettingsPostRequest) Execute() (*SoftwareUpdatesServiceSystemUpdatesSettings, *http.Response, error) {
	return r.ApiService.SystemUpdatesSettingsPostExecute(r)
}

/*
SystemUpdatesSettingsPost Requests to create or update system updates settings for a policy.

Requests to create or update system updates settings for a policy.<br>
<b>Permission Required: </b>Create System Updates Settings.<br>
<b>Requirements:</b><br>
<b>(MDM)</b>
The MDM update command only works with macOS 12+, iOS 9+, iPadOS 13+, or tvOS 12+. Devices must be in <b>supervised</b> mode. Unsupervised devices will not receive the update command.
Minor updates and patches will use version values to control which major, minor or patch updates are sent. Addigy will strictly follow your rules. Version values follow the major.minor.patch standard.
For example: 12.0.99 will allow patches, but not the minor update to 12.1, 12.9.9 will not allow 12.9.91.<br>
<b>(DDM)</b>
Declarative Device Management is the new standard for these devices and os versions: macOS 14+, iOS 17+ and iPadOS 17+. Devices must be in <b>supervised</b> mode.<br>
<b>System Updates Settings: </b> This is what each of the more specialized fields represents within the system updates settings for each os and which are the allowed values for the request.<br>
<b>(MDM)</b>
<b>install_action - </b>represents the install action when sending the schedule os command to the device: 1.Default (all OS) 2.InstallForceRestart (macOS Only) 3.InstallLater (macOS Only).<br>
<b>max_user_deferrals - </b>represents how many times the user can defer the updates, this is an optional parameter and it only works when 'Install Action' is 'InstallLater' and for minor os updates.<br>
<b>resend_update_command_hour - </b>The time in hours needed to re-send an os update command if the last command status is older than this value. Currently, the default value is 24 hours and the valid values ranges from 1 hour up to 24.<br>
<b>(DDM)</b>
<b>days_after_release - </b>The number of days to force an update, after the update is released.<br>
<b>hours_after_release - </b>The number of hours to force an update, after the update is released.<br>
<b>minutes_after_release - </b>The number of minutes to force an update, after the update is released.<br>
<b>allow_beta_updates_in_ddm - </b>This option only applies to devices enrolled in the Beta Program with beta builds available on device.<br>
<b>days_after_release_rsr - </b>The number of days to force an update, after the update is released.<br>
<b>allowed_days - </b>represents days of the week ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"] when updates should be installed.<br>
<b>denied_period - </b>represents a date range from/to when updates should not be installed. Example: ["2024-09-03T04:00:00Z", "2024-09-24T04:00:00Z"].<br>
<b>details_url - </b>An array containing an os_version and a URL linking to a web page that provides details from the organization about the enforced update. For a general update URL, use "default" as the os_version.<br>
<b>allow_standard_user_os_updates - </b>If 'true', a standard user can perform Major and Minor Software Updates. If 'false', only administrators can perform Major and Minor Software Updates.<b>(macOS 15+)</b><br>
<b>automatic_actions - </b>Specifies various automatic software update functionality. Subkeys: <b>download, install_os_updates(macOS 15+, iOS 18+), install_security_update(macOS 15+).</b> Possible values: "Allowed" - the user can enable or disable automatic actions. "AlwaysOn" - automatic actions are always enabled. "AlwaysOff" - automatic actions are always disabled.<br>
<b>beta - </b>Configurations for controlling or specifying the beta programs associated with a device. Subkeys and descriptions: <b>offer_programs - </b>An array of beta programs allowed on the device. This key must only be present if the program_enrollment key is set to "Allowed" or "AlwaysOn". This key must not be present if the require_program key is present. This key can be present on unsupervised devices where the program_enrollment key is not supported but is implicitly set to "Allowed". Subkeys and description: <b>description - </b>A human readable description of the beta program. <b>token - </b>The Apple Business Manager or Apple School Manager seeding service token for the organization the MDM server is part of. This token is used to enroll the device in the corresponding beta program. <b>program_enrollment - </b>Specifies whether beta program enrollment can be controlled by the user in software update settings UI. Possible values: "Allowed" (the user can enroll in any applicable beta programs associated with their logged in Apple Account. If the offer_programs key is present, then the programs listed in that key are also presented to the user). "AlwaysOn" (the beta programs specified by the organization are used, and the user is not be able to enroll in a beta program using their logged in Apple Account. The device is automatically enrolled into the beta program specified by the require_program key if it is present. Otherwise, the programs listed in the offer_programs key are presented to the user to choose which to enroll with). "AlwaysOff" (The device is not allowed to enroll in any beta programs. The device is removed from any beta programs, if already enrolled). <b>require_program - </b>The device automatically enrolls in this beta program. This key must only be present if the program_enrollment key is set to "AlwaysOn". The offer_programs key must not be present if this key is present. subkeys description and token behave the same as previously stated. <b>(iOS 18+)</b><br>
<b>deferrals - </b>Controls the deferral of software updates. Rapid Security Responses are not considered within 'Major', 'Minor', or 'System' deferral mechanism. Subkeys and descriptions: <b>combined_period_in_days - </b>Specifies the number of days to defer a major or minor OS software update on the device.<b>(iOS 18+).</b> <b>major_period_in_days - </b>Specifies the number of days to defer a major OS software update on the device.<b>(macOS 15+).</b> <b>minor_period_in_days - </b>Specifies the number of days to defer a minor OS software update on the device. It also defers major updates for iOS.<b>(macOS 15+).</b> <b>system_period_in_days - </b>Specifies the number of days to defer system or non-OS updates.<b>(macOS 15+).</b> All these fields have a minimum value: 1 and maximum value: 90.<br>
<b>notifications - </b>If 'true', the device shows all software update enforcement notifications. If 'false', the device only shows notifications triggered one hour before the enforcement deadline, and the restart countdown notification.<br>
<b>rapid_security_response - </b>These configurations allow for setting user access to interacting with Rapid Security Responses (RSRs). Subkeys and descriptions: <b>enable - </b>If 'false', Rapid Security Responses are not offered for user installation. Rapid Security Responses can still be installed via 'com.apple.configuration.softwareupdate.enforcement.specific' configurations. If 'true', Rapid Security Responses are offered to the user. <b>enable_rollback - </b>If 'false', Rapid Security Response rollbacks are not offered to the user. If 'true', Rapid Security Response rollbacks are offered to the user.<br>
<b>recommended_cadence - </b>Specifies how the device shows software updates to the user. When more than one update is available update, the device behaves as follows: "All" - Shows all software update versions. "Oldest" - Shows only the oldest (lower numbered) software update version. "Newest" - Shows only the newest (highest numbered) software update version. <b>(iOS 18+)</b><br>
<b>Schedule (excludes updates via DDM): </b>System Updates commands are scheduled to be sent daily at 2AM UTC, but you can schedule them to run on the device's time and which days of the week. The schedule is optional, if you would like to continue to use the default daily schedule, just set the schedule. enabled field to false. However, if you would like to opt in to use the schedule, just set the schedule.enabled field to true and fill all fields since they are required as part of the schedule request. Please note that your organization must have a monthly paid plan to use this feature.<br>
This is what each field represents and what are the allowed values for the schedule request:
<b>enabled - </b>represents if the schedule is enabled or disabled (true or false),
<b>week_days - </b>represents days of the week ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"],
<b>starting_time - </b>represents the schedule starting time (hours: 0-23h, min: 0 or 30),
<b>cut_off_time - </b>represents last time within the maintenance window to send updates commands to the devices (min: 30, 45, 60),
<b>maintenance_window - </b>represents how long do the schedule runs for in 2x hour intervals (hours: 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24).<br>
For more information about System Updates please visit [System Updates via MDM](https://support.addigy.com/hc/en-us/articles/10073419654931)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return SystemUpdatesMdmAPISystemUpdatesSettingsPostRequest
*/
func (a *SystemUpdatesMdmAPIService) SystemUpdatesSettingsPost(ctx context.Context) SystemUpdatesMdmAPISystemUpdatesSettingsPostRequest {
	return SystemUpdatesMdmAPISystemUpdatesSettingsPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return SoftwareUpdatesServiceSystemUpdatesSettings
func (a *SystemUpdatesMdmAPIService) SystemUpdatesSettingsPostExecute(r SystemUpdatesMdmAPISystemUpdatesSettingsPostRequest) (*SoftwareUpdatesServiceSystemUpdatesSettings, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SoftwareUpdatesServiceSystemUpdatesSettings
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SystemUpdatesMdmAPIService.SystemUpdatesSettingsPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/system-updates/settings"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.request == nil {
		return localVarReturnValue, nil, reportError("request is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.request
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SystemUpdatesMdmAPISystemUpdatesStatusGetRequest struct {
	ctx        context.Context
	ApiService *SystemUpdatesMdmAPIService
	deviceUdid *string
}

// Device Udid
func (r SystemUpdatesMdmAPISystemUpdatesStatusGetRequest) DeviceUdid(deviceUdid string) SystemUpdatesMdmAPISystemUpdatesStatusGetRequest {
	r.deviceUdid = &deviceUdid
	return r
}

func (r SystemUpdatesMdmAPISystemUpdatesStatusGetRequest) Execute() ([]SoftwareUpdatesServiceOsUpdateStatus, *http.Response, error) {
	return r.ApiService.SystemUpdatesStatusGetExecute(r)
}

/*
SystemUpdatesStatusGet Gets current system updates statuses reported for a device.

Gets current system updates statuses reported for a device.
<b>Permission Required: </b>View Device List, Execute Predefined Commands.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return SystemUpdatesMdmAPISystemUpdatesStatusGetRequest
*/
func (a *SystemUpdatesMdmAPIService) SystemUpdatesStatusGet(ctx context.Context) SystemUpdatesMdmAPISystemUpdatesStatusGetRequest {
	return SystemUpdatesMdmAPISystemUpdatesStatusGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []SoftwareUpdatesServiceOsUpdateStatus
func (a *SystemUpdatesMdmAPIService) SystemUpdatesStatusGetExecute(r SystemUpdatesMdmAPISystemUpdatesStatusGetRequest) ([]SoftwareUpdatesServiceOsUpdateStatus, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []SoftwareUpdatesServiceOsUpdateStatus
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SystemUpdatesMdmAPIService.SystemUpdatesStatusGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/system-updates/status"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.deviceUdid == nil {
		return localVarReturnValue, nil, reportError("deviceUdid is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "device_udid", r.deviceUdid, "", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SystemUpdatesMdmAPISystemUpdatesStatusPostRequest struct {
	ctx        context.Context
	ApiService *SystemUpdatesMdmAPIService
	request    *SoftwareUpdatesServiceSystemUpdatesBaseRequest
}

// Requests system updates statuses for a device via MDM command
func (r SystemUpdatesMdmAPISystemUpdatesStatusPostRequest) Request(request SoftwareUpdatesServiceSystemUpdatesBaseRequest) SystemUpdatesMdmAPISystemUpdatesStatusPostRequest {
	r.request = &request
	return r
}

func (r SystemUpdatesMdmAPISystemUpdatesStatusPostRequest) Execute() (*SystemUpdatesAvailablePost200Response, *http.Response, error) {
	return r.ApiService.SystemUpdatesStatusPostExecute(r)
}

/*
SystemUpdatesStatusPost Requests system updates statuses for a device via MDM command.

Requests system updates statuses for a device via MDM command.
<b>Permission Required: </b>View Device List, Execute Predefined Commands.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return SystemUpdatesMdmAPISystemUpdatesStatusPostRequest
*/
func (a *SystemUpdatesMdmAPIService) SystemUpdatesStatusPost(ctx context.Context) SystemUpdatesMdmAPISystemUpdatesStatusPostRequest {
	return SystemUpdatesMdmAPISystemUpdatesStatusPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return SystemUpdatesAvailablePost200Response
func (a *SystemUpdatesMdmAPIService) SystemUpdatesStatusPostExecute(r SystemUpdatesMdmAPISystemUpdatesStatusPostRequest) (*SystemUpdatesAvailablePost200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SystemUpdatesAvailablePost200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SystemUpdatesMdmAPIService.SystemUpdatesStatusPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/system-updates/status"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.request == nil {
		return localVarReturnValue, nil, reportError("request is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.request
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
