/*
Addigy API Documentation

The [Addigy API](https://app.addigy.com/integrations) is designed to provide Addigy users with programmatic access to all data in their Addigy environment. Via the Addigy API users have read and write access to nearly all the data in their environment allowing them to automate activities in Addigy and integrate into 3rd party systems.<br> API keys can be created within your Addigy organization by visiting [Account -> Integrations](https://app.addigy.com/integrations).<br> **What does it mean if an API v2 endpoint is marked as \"Beta\"?** In rare cases, the required request and response data for an endpoint may change. Should a change be needed, Addigy will communicate the changes providing time for users to transition and test.<br> **Child Organizations** <br>Endpoints that have /oa/ in their path enable you to request data for an organization and its descendant organizations. To use this capability, there are two query parameters: <ul><li><b>multitenancy</b> (optional, boolean): When set to true, the request will include data for all descendant organizations (child, grandchild, etc.), allowing you to query across multiple organizations. If set to false or omitted, the request will return data only for your own organization.</li> <br><li><b>child-organizations</b> (optional, string): A comma-separated list of organization IDs to filter results for specific descendant organizations. If omitted, all child organizations will be included in the query by default if the multitenancy query param is set to true.</li></ul> <p>If you have questions or suggestions for the Addigy API Contact <a href=\"mailto:support@addigy.com\">Addigy Support</a></p>

API version: 2.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package addigyapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"os"
	"strings"
)

// MdmConfigurationProfilesAPIService MdmConfigurationProfilesAPI service
type MdmConfigurationProfilesAPIService service

type MdmConfigurationProfilesAPIMdmConfigurationsCustomProfilePostRequest struct {
	ctx                 context.Context
	ApiService          *MdmConfigurationProfilesAPIService
	profile             *os.File
	iosMinimumVersion   *string
	macosMinimumVersion *string
	tvosMinimumVersion  *string
}

// .mobileconfig profile
func (r MdmConfigurationProfilesAPIMdmConfigurationsCustomProfilePostRequest) Profile(profile *os.File) MdmConfigurationProfilesAPIMdmConfigurationsCustomProfilePostRequest {
	r.profile = profile
	return r
}

// iOS minimum version (leave empty if you do not want to support to iOS devices)
func (r MdmConfigurationProfilesAPIMdmConfigurationsCustomProfilePostRequest) IosMinimumVersion(iosMinimumVersion string) MdmConfigurationProfilesAPIMdmConfigurationsCustomProfilePostRequest {
	r.iosMinimumVersion = &iosMinimumVersion
	return r
}

// macOS minimum version (leave empty if you do not want to support to macOS devices)
func (r MdmConfigurationProfilesAPIMdmConfigurationsCustomProfilePostRequest) MacosMinimumVersion(macosMinimumVersion string) MdmConfigurationProfilesAPIMdmConfigurationsCustomProfilePostRequest {
	r.macosMinimumVersion = &macosMinimumVersion
	return r
}

// tvOS minimum version (leave empty if you do not want to support to tvOS devices)
func (r MdmConfigurationProfilesAPIMdmConfigurationsCustomProfilePostRequest) TvosMinimumVersion(tvosMinimumVersion string) MdmConfigurationProfilesAPIMdmConfigurationsCustomProfilePostRequest {
	r.tvosMinimumVersion = &tvosMinimumVersion
	return r
}

func (r MdmConfigurationProfilesAPIMdmConfigurationsCustomProfilePostRequest) Execute() (*MdmServiceProfilesCreateCustomProfileResponse, *http.Response, error) {
	return r.ApiService.MdmConfigurationsCustomProfilePostExecute(r)
}

/*
MdmConfigurationsCustomProfilePost Creates a Custom MDM Profile

Allows you to upload a .mobileconfig. <br>
<b>Permission Required: </b>Create MDM Profiles.<br>

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return MdmConfigurationProfilesAPIMdmConfigurationsCustomProfilePostRequest
*/
func (a *MdmConfigurationProfilesAPIService) MdmConfigurationsCustomProfilePost(ctx context.Context) MdmConfigurationProfilesAPIMdmConfigurationsCustomProfilePostRequest {
	return MdmConfigurationProfilesAPIMdmConfigurationsCustomProfilePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return MdmServiceProfilesCreateCustomProfileResponse
func (a *MdmConfigurationProfilesAPIService) MdmConfigurationsCustomProfilePostExecute(r MdmConfigurationProfilesAPIMdmConfigurationsCustomProfilePostRequest) (*MdmServiceProfilesCreateCustomProfileResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *MdmServiceProfilesCreateCustomProfileResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MdmConfigurationProfilesAPIService.MdmConfigurationsCustomProfilePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/mdm/configurations/custom-profile"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.profile == nil {
		return localVarReturnValue, nil, reportError("profile is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	var profileLocalVarFormFileName string
	var profileLocalVarFileName string
	var profileLocalVarFileBytes []byte

	profileLocalVarFormFileName = "profile"
	profileLocalVarFile := r.profile

	if profileLocalVarFile != nil {
		fbs, _ := io.ReadAll(profileLocalVarFile)

		profileLocalVarFileBytes = fbs
		profileLocalVarFileName = profileLocalVarFile.Name()
		profileLocalVarFile.Close()
		formFiles = append(formFiles, formFile{fileBytes: profileLocalVarFileBytes, fileName: profileLocalVarFileName, formFileName: profileLocalVarFormFileName})
	}
	if r.iosMinimumVersion != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "ios_minimum_version", r.iosMinimumVersion, "", "")
	}
	if r.macosMinimumVersion != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "macos_minimum_version", r.macosMinimumVersion, "", "")
	}
	if r.tvosMinimumVersion != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "tvos_minimum_version", r.tvosMinimumVersion, "", "")
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MdmConfigurationProfilesAPIMdmConfigurationsDefinitionAddigyPayloadTypeGetRequest struct {
	ctx               context.Context
	ApiService        *MdmConfigurationProfilesAPIService
	addigyPayloadType string
}

func (r MdmConfigurationProfilesAPIMdmConfigurationsDefinitionAddigyPayloadTypeGetRequest) Execute() (*MdmConfigurationsPayloadManifest, *http.Response, error) {
	return r.ApiService.MdmConfigurationsDefinitionAddigyPayloadTypeGetExecute(r)
}

/*
MdmConfigurationsDefinitionAddigyPayloadTypeGet Gets an MDM configuration profile definition

Gets an MDM configuration profile definition

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param addigyPayloadType Addigy's payload type of MDM profile
	@return MdmConfigurationProfilesAPIMdmConfigurationsDefinitionAddigyPayloadTypeGetRequest
*/
func (a *MdmConfigurationProfilesAPIService) MdmConfigurationsDefinitionAddigyPayloadTypeGet(ctx context.Context, addigyPayloadType string) MdmConfigurationProfilesAPIMdmConfigurationsDefinitionAddigyPayloadTypeGetRequest {
	return MdmConfigurationProfilesAPIMdmConfigurationsDefinitionAddigyPayloadTypeGetRequest{
		ApiService:        a,
		ctx:               ctx,
		addigyPayloadType: addigyPayloadType,
	}
}

// Execute executes the request
//
//	@return MdmConfigurationsPayloadManifest
func (a *MdmConfigurationProfilesAPIService) MdmConfigurationsDefinitionAddigyPayloadTypeGetExecute(r MdmConfigurationProfilesAPIMdmConfigurationsDefinitionAddigyPayloadTypeGetRequest) (*MdmConfigurationsPayloadManifest, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *MdmConfigurationsPayloadManifest
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MdmConfigurationProfilesAPIService.MdmConfigurationsDefinitionAddigyPayloadTypeGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/mdm/configurations/definition/{addigy_payload_type}"
	localVarPath = strings.Replace(localVarPath, "{"+"addigy_payload_type"+"}", url.PathEscape(parameterValueToString(r.addigyPayloadType, "addigyPayloadType")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MdmConfigurationProfilesAPIMdmConfigurationsDefinitionsGetRequest struct {
	ctx        context.Context
	ApiService *MdmConfigurationProfilesAPIService
}

func (r MdmConfigurationProfilesAPIMdmConfigurationsDefinitionsGetRequest) Execute() ([]MdmConfigurationsPayloadManifest, *http.Response, error) {
	return r.ApiService.MdmConfigurationsDefinitionsGetExecute(r)
}

/*
MdmConfigurationsDefinitionsGet Gets MDM configuration profile definitions

Gets MDM configuration profile definitions

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return MdmConfigurationProfilesAPIMdmConfigurationsDefinitionsGetRequest
*/
func (a *MdmConfigurationProfilesAPIService) MdmConfigurationsDefinitionsGet(ctx context.Context) MdmConfigurationProfilesAPIMdmConfigurationsDefinitionsGetRequest {
	return MdmConfigurationProfilesAPIMdmConfigurationsDefinitionsGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []MdmConfigurationsPayloadManifest
func (a *MdmConfigurationProfilesAPIService) MdmConfigurationsDefinitionsGetExecute(r MdmConfigurationProfilesAPIMdmConfigurationsDefinitionsGetRequest) ([]MdmConfigurationsPayloadManifest, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []MdmConfigurationsPayloadManifest
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MdmConfigurationProfilesAPIService.MdmConfigurationsDefinitionsGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/mdm/configurations/definitions"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MdmConfigurationProfilesAPIMdmConfigurationsPolicyProfilesGetRequest struct {
	ctx         context.Context
	ApiService  *MdmConfigurationProfilesAPIService
	policyId    *string
	payloadType *string
}

// Policy ID
func (r MdmConfigurationProfilesAPIMdmConfigurationsPolicyProfilesGetRequest) PolicyId(policyId string) MdmConfigurationProfilesAPIMdmConfigurationsPolicyProfilesGetRequest {
	r.policyId = &policyId
	return r
}

// Profile payload type
func (r MdmConfigurationProfilesAPIMdmConfigurationsPolicyProfilesGetRequest) PayloadType(payloadType string) MdmConfigurationProfilesAPIMdmConfigurationsPolicyProfilesGetRequest {
	r.payloadType = &payloadType
	return r
}

func (r MdmConfigurationProfilesAPIMdmConfigurationsPolicyProfilesGetRequest) Execute() ([]PolicyServiceMdmPayloadJSONResult, *http.Response, error) {
	return r.ApiService.MdmConfigurationsPolicyProfilesGetExecute(r)
}

/*
MdmConfigurationsPolicyProfilesGet Gets policy profiles by Addigy payload type

Gets policy profiles by Addigy payload type

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return MdmConfigurationProfilesAPIMdmConfigurationsPolicyProfilesGetRequest
*/
func (a *MdmConfigurationProfilesAPIService) MdmConfigurationsPolicyProfilesGet(ctx context.Context) MdmConfigurationProfilesAPIMdmConfigurationsPolicyProfilesGetRequest {
	return MdmConfigurationProfilesAPIMdmConfigurationsPolicyProfilesGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []PolicyServiceMdmPayloadJSONResult
func (a *MdmConfigurationProfilesAPIService) MdmConfigurationsPolicyProfilesGetExecute(r MdmConfigurationProfilesAPIMdmConfigurationsPolicyProfilesGetRequest) ([]PolicyServiceMdmPayloadJSONResult, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []PolicyServiceMdmPayloadJSONResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MdmConfigurationProfilesAPIService.MdmConfigurationsPolicyProfilesGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/mdm/configurations/policy/profiles"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.policyId == nil {
		return localVarReturnValue, nil, reportError("policyId is required and must be specified")
	}
	if r.payloadType == nil {
		return localVarReturnValue, nil, reportError("payloadType is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "policy_id", r.policyId, "", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "payload_type", r.payloadType, "", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MdmConfigurationProfilesAPIMdmConfigurationsProfilePayloadGroupIdDeleteRequest struct {
	ctx            context.Context
	ApiService     *MdmConfigurationProfilesAPIService
	payloadGroupId string
}

func (r MdmConfigurationProfilesAPIMdmConfigurationsProfilePayloadGroupIdDeleteRequest) Execute() (string, *http.Response, error) {
	return r.ApiService.MdmConfigurationsProfilePayloadGroupIdDeleteExecute(r)
}

/*
MdmConfigurationsProfilePayloadGroupIdDelete Deletes an MDM configuration profile

Deletes an MDM configuration profile

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param payloadGroupId MDM payload group ID
	@return MdmConfigurationProfilesAPIMdmConfigurationsProfilePayloadGroupIdDeleteRequest
*/
func (a *MdmConfigurationProfilesAPIService) MdmConfigurationsProfilePayloadGroupIdDelete(ctx context.Context, payloadGroupId string) MdmConfigurationProfilesAPIMdmConfigurationsProfilePayloadGroupIdDeleteRequest {
	return MdmConfigurationProfilesAPIMdmConfigurationsProfilePayloadGroupIdDeleteRequest{
		ApiService:     a,
		ctx:            ctx,
		payloadGroupId: payloadGroupId,
	}
}

// Execute executes the request
//
//	@return string
func (a *MdmConfigurationProfilesAPIService) MdmConfigurationsProfilePayloadGroupIdDeleteExecute(r MdmConfigurationProfilesAPIMdmConfigurationsProfilePayloadGroupIdDeleteRequest) (string, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue string
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MdmConfigurationProfilesAPIService.MdmConfigurationsProfilePayloadGroupIdDelete")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/mdm/configurations/profile/{payload_group_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"payload_group_id"+"}", url.PathEscape(parameterValueToString(r.payloadGroupId, "payloadGroupId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MdmConfigurationProfilesAPIMdmConfigurationsProfilePayloadGroupIdGetRequest struct {
	ctx            context.Context
	ApiService     *MdmConfigurationProfilesAPIService
	payloadGroupId string
}

func (r MdmConfigurationProfilesAPIMdmConfigurationsProfilePayloadGroupIdGetRequest) Execute() (*MdmConfigurationsProfilePayloadGroupIdGet200Response, *http.Response, error) {
	return r.ApiService.MdmConfigurationsProfilePayloadGroupIdGetExecute(r)
}

/*
MdmConfigurationsProfilePayloadGroupIdGet Gets MDM configuration profile by payload group id

Gets MDM configuration profile by payload group id

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param payloadGroupId MDM payload group ID
	@return MdmConfigurationProfilesAPIMdmConfigurationsProfilePayloadGroupIdGetRequest
*/
func (a *MdmConfigurationProfilesAPIService) MdmConfigurationsProfilePayloadGroupIdGet(ctx context.Context, payloadGroupId string) MdmConfigurationProfilesAPIMdmConfigurationsProfilePayloadGroupIdGetRequest {
	return MdmConfigurationProfilesAPIMdmConfigurationsProfilePayloadGroupIdGetRequest{
		ApiService:     a,
		ctx:            ctx,
		payloadGroupId: payloadGroupId,
	}
}

// Execute executes the request
//
//	@return MdmConfigurationsProfilePayloadGroupIdGet200Response
func (a *MdmConfigurationProfilesAPIService) MdmConfigurationsProfilePayloadGroupIdGetExecute(r MdmConfigurationProfilesAPIMdmConfigurationsProfilePayloadGroupIdGetRequest) (*MdmConfigurationsProfilePayloadGroupIdGet200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *MdmConfigurationsProfilePayloadGroupIdGet200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MdmConfigurationProfilesAPIService.MdmConfigurationsProfilePayloadGroupIdGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/mdm/configurations/profile/{payload_group_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"payload_group_id"+"}", url.PathEscape(parameterValueToString(r.payloadGroupId, "payloadGroupId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MdmConfigurationProfilesAPIMdmConfigurationsProfilePoliciesDeleteRequest struct {
	ctx        context.Context
	ApiService *MdmConfigurationProfilesAPIService
	request    *MdmConfigurationsServiceOrgGroupIdEmailRequest
}

// Request to unassign an MDM configuration profile from policies
func (r MdmConfigurationProfilesAPIMdmConfigurationsProfilePoliciesDeleteRequest) Request(request MdmConfigurationsServiceOrgGroupIdEmailRequest) MdmConfigurationProfilesAPIMdmConfigurationsProfilePoliciesDeleteRequest {
	r.request = &request
	return r
}

func (r MdmConfigurationProfilesAPIMdmConfigurationsProfilePoliciesDeleteRequest) Execute() (string, *http.Response, error) {
	return r.ApiService.MdmConfigurationsProfilePoliciesDeleteExecute(r)
}

/*
MdmConfigurationsProfilePoliciesDelete Unassigns an MDM configuration profile from policies

Unassigns an MDM configuration profile from policies

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return MdmConfigurationProfilesAPIMdmConfigurationsProfilePoliciesDeleteRequest
*/
func (a *MdmConfigurationProfilesAPIService) MdmConfigurationsProfilePoliciesDelete(ctx context.Context) MdmConfigurationProfilesAPIMdmConfigurationsProfilePoliciesDeleteRequest {
	return MdmConfigurationProfilesAPIMdmConfigurationsProfilePoliciesDeleteRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return string
func (a *MdmConfigurationProfilesAPIService) MdmConfigurationsProfilePoliciesDeleteExecute(r MdmConfigurationProfilesAPIMdmConfigurationsProfilePoliciesDeleteRequest) (string, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue string
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MdmConfigurationProfilesAPIService.MdmConfigurationsProfilePoliciesDelete")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/mdm/configurations/profile/policies"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.request == nil {
		return localVarReturnValue, nil, reportError("request is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.request
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MdmConfigurationProfilesAPIMdmConfigurationsProfilePoliciesPostRequest struct {
	ctx        context.Context
	ApiService *MdmConfigurationProfilesAPIService
	request    *MdmConfigurationsServiceOrgGroupIdEmailRequest
}

// Request to assign policies to an MDM configuration profile
func (r MdmConfigurationProfilesAPIMdmConfigurationsProfilePoliciesPostRequest) Request(request MdmConfigurationsServiceOrgGroupIdEmailRequest) MdmConfigurationProfilesAPIMdmConfigurationsProfilePoliciesPostRequest {
	r.request = &request
	return r
}

func (r MdmConfigurationProfilesAPIMdmConfigurationsProfilePoliciesPostRequest) Execute() (string, *http.Response, error) {
	return r.ApiService.MdmConfigurationsProfilePoliciesPostExecute(r)
}

/*
MdmConfigurationsProfilePoliciesPost Assigns policies to an MDM configuration profile

Assigns policies to an MDM configuration profile

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return MdmConfigurationProfilesAPIMdmConfigurationsProfilePoliciesPostRequest
*/
func (a *MdmConfigurationProfilesAPIService) MdmConfigurationsProfilePoliciesPost(ctx context.Context) MdmConfigurationProfilesAPIMdmConfigurationsProfilePoliciesPostRequest {
	return MdmConfigurationProfilesAPIMdmConfigurationsProfilePoliciesPostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return string
func (a *MdmConfigurationProfilesAPIService) MdmConfigurationsProfilePoliciesPostExecute(r MdmConfigurationProfilesAPIMdmConfigurationsProfilePoliciesPostRequest) (string, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue string
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MdmConfigurationProfilesAPIService.MdmConfigurationsProfilePoliciesPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/mdm/configurations/profile/policies"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.request == nil {
		return localVarReturnValue, nil, reportError("request is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.request
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MdmConfigurationProfilesAPIMdmConfigurationsProfilePostRequest struct {
	ctx        context.Context
	ApiService *MdmConfigurationProfilesAPIService
	request    *MdmConfigurationsProfilePostRequest
}

// Request to create an MDM profile
func (r MdmConfigurationProfilesAPIMdmConfigurationsProfilePostRequest) Request(request MdmConfigurationsProfilePostRequest) MdmConfigurationProfilesAPIMdmConfigurationsProfilePostRequest {
	r.request = &request
	return r
}

func (r MdmConfigurationProfilesAPIMdmConfigurationsProfilePostRequest) Execute() (*MdmConfigurationsProfilePost200Response, *http.Response, error) {
	return r.ApiService.MdmConfigurationsProfilePostExecute(r)
}

/*
MdmConfigurationsProfilePost Creates an MDM profile

Creates an MDM profile.<br>
<b>Permission Required: </b>Create MDM Profiles.<br>
<b>Requirements: </b> The payload must be a valid MDM payload. We do not support profiles with multiple payloads at this time. Use payload_display_name, payload_type, payload_priority, and the required payload keys as outlined in the Apple Documentation for the payload that you are trying to create. <br>
<b>Payload: </b> This is what each field represents within the payload and which are the allowed values for the request.<br>
payload_display_name - represents the name of the payload to be created, must be 1–160 characters and may include letters, numbers, spaces, hyphens, underscores, apostrophes, and parentheses.
payload_type - represents the type of payload as defined in the Apple Documentation, such as com.apple.airplay, must not be empty.
payload_priority - represents the priority order in which the profile will be sent to the device, once the policy runs, default value is 9 (Facts: 2, Self Service: 2, Splashtop: 5, MS Office Update: 10, Software: 10, OS Users: 10, System Update: 20).<br>
<b>NOTE: </b>Key names are in snake-case naming convention, not Apple naming convention. For example, it's allow_passcode_modification instead of allowPasscodeModification.<br>
For more information about Addigy's API Supported MDM payloads, please visit [Addigy's API Supported MDM Payloads](https://support.addigy.com/hc/en-us/articles/29982135947411)

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return MdmConfigurationProfilesAPIMdmConfigurationsProfilePostRequest
*/
func (a *MdmConfigurationProfilesAPIService) MdmConfigurationsProfilePost(ctx context.Context) MdmConfigurationProfilesAPIMdmConfigurationsProfilePostRequest {
	return MdmConfigurationProfilesAPIMdmConfigurationsProfilePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return MdmConfigurationsProfilePost200Response
func (a *MdmConfigurationProfilesAPIService) MdmConfigurationsProfilePostExecute(r MdmConfigurationProfilesAPIMdmConfigurationsProfilePostRequest) (*MdmConfigurationsProfilePost200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *MdmConfigurationsProfilePost200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MdmConfigurationProfilesAPIService.MdmConfigurationsProfilePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/mdm/configurations/profile"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.request == nil {
		return localVarReturnValue, nil, reportError("request is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.request
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MdmConfigurationProfilesAPIMdmConfigurationsProfilesGetRequest struct {
	ctx        context.Context
	ApiService *MdmConfigurationProfilesAPIService
}

func (r MdmConfigurationProfilesAPIMdmConfigurationsProfilesGetRequest) Execute() (*MdmConfigurationsProfilesGet200Response, *http.Response, error) {
	return r.ApiService.MdmConfigurationsProfilesGetExecute(r)
}

/*
MdmConfigurationsProfilesGet Gets MDM configuration profiles

Gets MDM configuration profiles

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return MdmConfigurationProfilesAPIMdmConfigurationsProfilesGetRequest
*/
func (a *MdmConfigurationProfilesAPIService) MdmConfigurationsProfilesGet(ctx context.Context) MdmConfigurationProfilesAPIMdmConfigurationsProfilesGetRequest {
	return MdmConfigurationProfilesAPIMdmConfigurationsProfilesGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return MdmConfigurationsProfilesGet200Response
func (a *MdmConfigurationProfilesAPIService) MdmConfigurationsProfilesGetExecute(r MdmConfigurationProfilesAPIMdmConfigurationsProfilesGetRequest) (*MdmConfigurationsProfilesGet200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *MdmConfigurationsProfilesGet200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MdmConfigurationProfilesAPIService.MdmConfigurationsProfilesGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/mdm/configurations/profiles"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MdmConfigurationProfilesAPIMdmConfigurationsProfilesPayloadsPutRequest struct {
	ctx        context.Context
	ApiService *MdmConfigurationProfilesAPIService
	request    *MdmConfigurationsProfilesPayloadsPutRequest
}

// Request to update an MDM profile&#39;s payloads
func (r MdmConfigurationProfilesAPIMdmConfigurationsProfilesPayloadsPutRequest) Request(request MdmConfigurationsProfilesPayloadsPutRequest) MdmConfigurationProfilesAPIMdmConfigurationsProfilesPayloadsPutRequest {
	r.request = &request
	return r
}

func (r MdmConfigurationProfilesAPIMdmConfigurationsProfilesPayloadsPutRequest) Execute() (*MdmConfigurationsProfilesPayloadsPutRequest, *http.Response, error) {
	return r.ApiService.MdmConfigurationsProfilesPayloadsPutExecute(r)
}

/*
MdmConfigurationsProfilesPayloadsPut Updates an MDM profile's payloads

Updates an MDM profile's payloads.<br>
<b>Permission Required: </b>Edit MDM Profiles.<br>
<b>IMPORTANT: </b>This update method works as a REPLACE operation. Partial data is not supported. The existing payload will be removed and a new payload will be created containing only the new data provided. You must provide the complete payload structure in the request.<br>
<b>Key Values: </b>Some key values need to be exactly the same as the existing payload (e.g., payload_identifier, payload_group_id, payload_uuid) to identify which payload to replace.<br>
<b>Requirements: </b> The payload must be a valid MDM payload. Use payload_display_name, payload_type, payload_priority, and the required payload keys as outlined in the Apple Documentation for the payload that you are trying to update. <br>
<b>Custom Profiles: </b>This is a special case: data in field `custom_profile_content` needs to be modified and encoded in the request data so that changes take place. This field contains a base64 encoded profile that will be deployed. Therefore, it needs to be modified and provided as a base64 string. For everything else, use the regular MDM payload data.<br>

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return MdmConfigurationProfilesAPIMdmConfigurationsProfilesPayloadsPutRequest
*/
func (a *MdmConfigurationProfilesAPIService) MdmConfigurationsProfilesPayloadsPut(ctx context.Context) MdmConfigurationProfilesAPIMdmConfigurationsProfilesPayloadsPutRequest {
	return MdmConfigurationProfilesAPIMdmConfigurationsProfilesPayloadsPutRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return MdmConfigurationsProfilesPayloadsPutRequest
func (a *MdmConfigurationProfilesAPIService) MdmConfigurationsProfilesPayloadsPutExecute(r MdmConfigurationProfilesAPIMdmConfigurationsProfilesPayloadsPutRequest) (*MdmConfigurationsProfilesPayloadsPutRequest, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *MdmConfigurationsProfilesPayloadsPutRequest
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MdmConfigurationProfilesAPIService.MdmConfigurationsProfilesPayloadsPut")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/mdm/configurations/profiles/payloads"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.request == nil {
		return localVarReturnValue, nil, reportError("request is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.request
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MdmConfigurationProfilesAPIMdmConfigurationsProfilesSearchGetRequest struct {
	ctx        context.Context
	ApiService *MdmConfigurationProfilesAPIService
	query      *string
}

// Query
func (r MdmConfigurationProfilesAPIMdmConfigurationsProfilesSearchGetRequest) Query(query string) MdmConfigurationProfilesAPIMdmConfigurationsProfilesSearchGetRequest {
	r.query = &query
	return r
}

func (r MdmConfigurationProfilesAPIMdmConfigurationsProfilesSearchGetRequest) Execute() ([]MdmConfigurationsProfileSearchResult, *http.Response, error) {
	return r.ApiService.MdmConfigurationsProfilesSearchGetExecute(r)
}

/*
MdmConfigurationsProfilesSearchGet Gets mdm profiles from search

Gets mdm profiles from search

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return MdmConfigurationProfilesAPIMdmConfigurationsProfilesSearchGetRequest
*/
func (a *MdmConfigurationProfilesAPIService) MdmConfigurationsProfilesSearchGet(ctx context.Context) MdmConfigurationProfilesAPIMdmConfigurationsProfilesSearchGetRequest {
	return MdmConfigurationProfilesAPIMdmConfigurationsProfilesSearchGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []MdmConfigurationsProfileSearchResult
func (a *MdmConfigurationProfilesAPIService) MdmConfigurationsProfilesSearchGetExecute(r MdmConfigurationProfilesAPIMdmConfigurationsProfilesSearchGetRequest) ([]MdmConfigurationsProfileSearchResult, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []MdmConfigurationsProfileSearchResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MdmConfigurationProfilesAPIService.MdmConfigurationsProfilesSearchGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/mdm/configurations/profiles/search"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.query == nil {
		return localVarReturnValue, nil, reportError("query is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "query", r.query, "", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type MdmConfigurationProfilesAPIOOrganizationIdMdmPayloadsQueryPostRequest struct {
	ctx            context.Context
	ApiService     *MdmConfigurationProfilesAPIService
	organizationId string
	request        *MdmConfigurationsServiceMdmProfileConfigurationsRequest
}

// Request policy info
func (r MdmConfigurationProfilesAPIOOrganizationIdMdmPayloadsQueryPostRequest) Request(request MdmConfigurationsServiceMdmProfileConfigurationsRequest) MdmConfigurationProfilesAPIOOrganizationIdMdmPayloadsQueryPostRequest {
	r.request = &request
	return r
}

func (r MdmConfigurationProfilesAPIOOrganizationIdMdmPayloadsQueryPostRequest) Execute() (*MdmConfigurationsProfilesGet200Response, *http.Response, error) {
	return r.ApiService.OOrganizationIdMdmPayloadsQueryPostExecute(r)
}

/*
OOrganizationIdMdmPayloadsQueryPost Query MDM Payload information.

Query MDM Payload information and assignments

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param organizationId Organization id
	@return MdmConfigurationProfilesAPIOOrganizationIdMdmPayloadsQueryPostRequest
*/
func (a *MdmConfigurationProfilesAPIService) OOrganizationIdMdmPayloadsQueryPost(ctx context.Context, organizationId string) MdmConfigurationProfilesAPIOOrganizationIdMdmPayloadsQueryPostRequest {
	return MdmConfigurationProfilesAPIOOrganizationIdMdmPayloadsQueryPostRequest{
		ApiService:     a,
		ctx:            ctx,
		organizationId: organizationId,
	}
}

// Execute executes the request
//
//	@return MdmConfigurationsProfilesGet200Response
func (a *MdmConfigurationProfilesAPIService) OOrganizationIdMdmPayloadsQueryPostExecute(r MdmConfigurationProfilesAPIOOrganizationIdMdmPayloadsQueryPostRequest) (*MdmConfigurationsProfilesGet200Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *MdmConfigurationsProfilesGet200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MdmConfigurationProfilesAPIService.OOrganizationIdMdmPayloadsQueryPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/o/{organization_id}/mdm/payloads/query"
	localVarPath = strings.Replace(localVarPath, "{"+"organization_id"+"}", url.PathEscape(parameterValueToString(r.organizationId, "organizationId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.request
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
