/*
Addigy API Documentation

The [Addigy API](https://app.addigy.com/integrations) is designed to provide Addigy users with programmatic access to all data in their Addigy environment. Via the Addigy API users have read and write access to nearly all the data in their environment allowing them to automate activities in Addigy and integrate into 3rd party systems.<br> API keys can be created within your Addigy organization by visiting [Account -> Integrations](https://app.addigy.com/integrations).<br> **What does it mean if an API v2 endpoint is marked as \"Beta\"?** In rare cases, the required request and response data for an endpoint may change. Should a change be needed, Addigy will communicate the changes providing time for users to transition and test.<br> **Child Organizations** <br>Endpoints that have /oa/ in their path enable you to request data for an organization and its descendant organizations. To use this capability, there are two query parameters: <ul><li><b>multitenancy</b> (optional, boolean): When set to true, the request will include data for all descendant organizations (child, grandchild, etc.), allowing you to query across multiple organizations. If set to false or omitted, the request will return data only for your own organization.</li> <br><li><b>child-organizations</b> (optional, string): A comma-separated list of organization IDs to filter results for specific descendant organizations. If omitted, all child organizations will be included in the query by default if the multitenancy query param is set to true.</li></ul> <p>If you have questions or suggestions for the Addigy API Contact <a href=\"mailto:support@addigy.com\">Addigy Support</a></p>

API version: 2.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package addigyapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// ChildOrganizationsAPIService ChildOrganizationsAPI service
type ChildOrganizationsAPIService service

type ChildOrganizationsAPIOOrganizationIdChildrenQueryGetRequest struct {
	ctx                 context.Context
	ApiService          *ChildOrganizationsAPIService
	organizationId      string
	page                *int32
	perPage             *int32
	sortField           *string
	sortDirection       *string
	searchString        *string
	childOrganizationId *string
}

// Requested Page
func (r ChildOrganizationsAPIOOrganizationIdChildrenQueryGetRequest) Page(page int32) ChildOrganizationsAPIOOrganizationIdChildrenQueryGetRequest {
	r.page = &page
	return r
}

// Number of items in the response.
func (r ChildOrganizationsAPIOOrganizationIdChildrenQueryGetRequest) PerPage(perPage int32) ChildOrganizationsAPIOOrganizationIdChildrenQueryGetRequest {
	r.perPage = &perPage
	return r
}

// Field used for sorting
func (r ChildOrganizationsAPIOOrganizationIdChildrenQueryGetRequest) SortField(sortField string) ChildOrganizationsAPIOOrganizationIdChildrenQueryGetRequest {
	r.sortField = &sortField
	return r
}

// Sort Direction
func (r ChildOrganizationsAPIOOrganizationIdChildrenQueryGetRequest) SortDirection(sortDirection string) ChildOrganizationsAPIOOrganizationIdChildrenQueryGetRequest {
	r.sortDirection = &sortDirection
	return r
}

// Search string for organization name
func (r ChildOrganizationsAPIOOrganizationIdChildrenQueryGetRequest) SearchString(searchString string) ChildOrganizationsAPIOOrganizationIdChildrenQueryGetRequest {
	r.searchString = &searchString
	return r
}

// Filter result by orgid for specific child organization
func (r ChildOrganizationsAPIOOrganizationIdChildrenQueryGetRequest) ChildOrganizationId(childOrganizationId string) ChildOrganizationsAPIOOrganizationIdChildrenQueryGetRequest {
	r.childOrganizationId = &childOrganizationId
	return r
}

func (r ChildOrganizationsAPIOOrganizationIdChildrenQueryGetRequest) Execute() (*ResponseEntitiesPaginatedResponseOrganizationServiceOrganization, *http.Response, error) {
	return r.ApiService.OOrganizationIdChildrenQueryGetExecute(r)
}

/*
OOrganizationIdChildrenQueryGet Get Child Organizations

Get a list of child organizations belonging to the provided organization

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param organizationId Parent organization id to check for child organizations
	@return ChildOrganizationsAPIOOrganizationIdChildrenQueryGetRequest
*/
func (a *ChildOrganizationsAPIService) OOrganizationIdChildrenQueryGet(ctx context.Context, organizationId string) ChildOrganizationsAPIOOrganizationIdChildrenQueryGetRequest {
	return ChildOrganizationsAPIOOrganizationIdChildrenQueryGetRequest{
		ApiService:     a,
		ctx:            ctx,
		organizationId: organizationId,
	}
}

// Execute executes the request
//
//	@return ResponseEntitiesPaginatedResponseOrganizationServiceOrganization
func (a *ChildOrganizationsAPIService) OOrganizationIdChildrenQueryGetExecute(r ChildOrganizationsAPIOOrganizationIdChildrenQueryGetRequest) (*ResponseEntitiesPaginatedResponseOrganizationServiceOrganization, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ResponseEntitiesPaginatedResponseOrganizationServiceOrganization
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChildOrganizationsAPIService.OOrganizationIdChildrenQueryGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/o/{organization_id}/children/query"
	localVarPath = strings.Replace(localVarPath, "{"+"organization_id"+"}", url.PathEscape(parameterValueToString(r.organizationId, "organizationId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "", "")
	} else {
		var defaultValue int32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "", "")
		r.page = &defaultValue
	}
	if r.perPage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "per_page", r.perPage, "", "")
	} else {
		var defaultValue int32 = 50
		parameterAddToHeaderOrQuery(localVarQueryParams, "per_page", defaultValue, "", "")
		r.perPage = &defaultValue
	}
	if r.sortField != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_field", r.sortField, "", "")
	} else {
		var defaultValue string = "companyName"
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_field", defaultValue, "", "")
		r.sortField = &defaultValue
	}
	if r.sortDirection != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_direction", r.sortDirection, "", "")
	} else {
		var defaultValue string = "asc"
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort_direction", defaultValue, "", "")
		r.sortDirection = &defaultValue
	}
	if r.searchString != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search_string", r.searchString, "", "")
	}
	if r.childOrganizationId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "child_organization_id", r.childOrganizationId, "", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["ApiKeyAuth"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ResponseEntitiesErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
